<template>
	<div>
	  <template 
	  	v-for="(attribute, index) in attributes">
		  <b-form-group
		  	v-if="attribute.component"
		    label-cols-sm="4"
		    label-cols-lg="3"
		    content-cols-sm
		    content-cols-lg="7"
		    :label="attribute.label"
		    :label-for="attribute.name"
		    label-align="right"
		    :invalid-feedback="getError(attribute.name)"
		    :state="getErrorState(attribute.name)"
		  >        
		  	<component
		  		:id="attribute.name"
		  		:is="attribute.component"
	      	:state="getErrorState(attribute.name)"
	      	:attribute="attribute"
	      	:value="product[attribute.name]"
	      	@input="$set(product, attribute.name, $event)"></component>
		  </b-form-group>
	  </template>
	</div>
</template>
<script>
  import ColorField from './_attributes/ColorField'
  import SelectField from './_attributes/SelectField'
  import SwitcherField from './_attributes/SwitcherField'
  import TextField from './_attributes/TextField'

	export default {
		components: {
			ColorField,
			SelectField,
			SwitcherField,
			TextField,
		},
		props: ['product', 'attributes'],
		inject: ['getError', 'getErrorState'],
	}
</script>