<template>
	<div>
		<h5 v-if="filteredImages.length > 0">{{lang.get('messages.uploaded_images')}}</h5>
		<b-row class="mx-0">
	    <b-col
				v-for="(image, index) in filteredImages"
				:key="image.rid"
				md="3"
				class="px-1">
				<image-preview
					:key="image.rid"
					:src="image.image_url"
					@destroy="destroyImage(image.id)"/>
			</b-col>
		</b-row>
	</div>
</template>
<script>

	export default {		props: ['product'],
		computed: {
			filteredImages() {
				return !Array.isArray(this.product.images) ? [] : this.product.images.filter(
					(image) => !Array.isArray(this.product.deleted_images) || 
						!this.product.deleted_images.includes(image.id)
				)
			}
		},
		methods: {
			destroyImage(id) {
				if (!Array.isArray(this.product.deleted_images)) {
					this.$set(this.product, 'deleted_images', [])
				}

				this.product.deleted_images.push(id)
			}
		}
	}
</script>