<template>
  <treeselect 
    v-model="model"
    :multiple="true"
    :options="productsSelect"
    :placeholder="lang.get('messages.select_item', {
      item: lang.get('messages.product')
    })"
    @search-change="search($event)"
     />
</template>
<script>
	import { ASYNC_SEARCH } from '@riophae/vue-treeselect'
	export default {
		props: ['value'],
		data() {
			return {
				model: this.value
			}
		},
		watch: {
			model(model) {
				this.$emit('input', model)
			}
		},
		computed: {
      productsSelect() {
        return this.$store.getters['products/productsSelect']
      },
		},
		methods: {
      search: async function(phrase) {
       //  await this.$store.dispatch('products/fetchProductsSelect', {
       //  	query: {
	      //   	...this.$route.query,
	      //   	phrase
	      //   }
	      // })
			}
		}
	}
</script>