<template>
	<div>
		<div 
			id="dropzone"
			class="dropzone mb-3">
			<b-button variant="primary">{{lang.get('messages.drop_images')}}</b-button>
			<input 
				id="fileInput" 
				type="file" 
				multiple="multiple" 
				@change="onFileChange"
				>
		</div>
		<previews 
			:files="files"/>
	</div>
</template>
<script>
	import Previews from './_images/UploadPreviews'

	export default {
		data() {
			return {
				files: [],
			}
		},
		components: {Previews},
		props: ['product'],
		inject: ['getError', 'getErrorState'],
		watch: {
			files(files) {
				this.$set(this.product, 'uploaded_images', files)
			}
		},
    methods: {
      onFileChange: function(e) {
        var files = e.target.files || e.dataTransfer.files;   
        if (files.length > 0) {
          this.upload(files)
        }  
      },
      upload: function(files) {
      	let copiedFiles = Array.from(files)
      	copiedFiles.forEach((file) => {
      		console.log(file)
      		this.files.push({
      			rid: this.$uniqid(),
      			file: file,
      		})
      	})
      }
  	},
    computed: {
    },
    mounted: function() {
    	let self = this
      function handleFileSelect(evt) {
        evt.stopPropagation();
        evt.preventDefault();

        var files = evt.dataTransfer.files; // FileList object.
        self.upload(files)
      }

      function handleDragOver(evt) {
        evt.stopPropagation();
        evt.preventDefault();
        evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
        $(this).addClass('drag-over')
      }

      function handleDragLeave(evt) {
        $(this).removeClass('drag-over')
      }

      // Setup the dnd listeners.
      var dropZone = document.getElementById('dropzone');

      if (dropZone) {
        dropZone.addEventListener('dragover', handleDragOver, false);
        dropZone.addEventListener('dragleave', handleDragLeave, false);
        dropZone.addEventListener('drop', handleFileSelect, false);
      }
    },
	}
</script>