<template>
	<div>
		<b-button 
			@click="add()"
      class="mb-3"><i class="fas fa-plus"></i></b-button>
<!-- 		<variant 
			class="m-1"
			v-for="(variant, index) in product.variants"
			:key="variant.rid"
			:variant="variant"
			:attributes="attributes"
			@destroy="product.variants.splice(index, 1)"/> -->

    <b-table 
      :fields="fields"
      striped 
      hover 
      :items="product.variants"
     	:fixed="true"
      :responsive="false">
      <template #cell(price)="row"> 
			  <b-form-group
			    :invalid-feedback="getError(getErrorKey('price', row.item.rid))"
			    :state="getErrorState(getErrorKey('price', row.item.rid))"
			  >
			    <b-form-input 
			      :id="getId('price', row.item.rid)"
			      :state="getErrorState(getErrorKey('price', row.item.rid))"
			      v-model="row.item.price"></b-form-input>
			  </b-form-group>
      </template> 
      <template #cell(quantity)="row"> 
			  <b-form-group
			    :invalid-feedback="getError(getErrorKey('quantity', row.item.rid))"
			    :state="getErrorState(getErrorKey('quantity', row.item.rid))"
			  >
			    <b-form-input 
			      :id="getId('quantity', row.item.rid)"
			      :state="getErrorState(getErrorKey('quantity', row.item.rid))"
			      v-model="row.item.quantity"></b-form-input>
			  </b-form-group>
      </template> 
      <template 
      	v-for="(attribute, index) in attributes"
      	v-slot:[getCell(attribute.name)]="row"> 
			  <b-form-group
			  	v-if="attribute.component"
			    :invalid-feedback="getError(getErrorKey(attribute.name, row.item.rid))"
			    :state="getErrorState(getErrorKey(attribute.name, row.item.rid))"
			  >        
			  	<component
			  		:id="getId(attribute.name, row.item.rid)"
			  		:is="attribute.component"
		      	:state="getErrorState(getErrorKey(attribute.name, row.item.rid))"
		      	:attribute="attribute"
		      	:value="row.item[attribute.name]"
		      	@input="$set(row.item, attribute.name, $event)"></component>
			  </b-form-group>
      </template>  
      <template #cell(actions)="row">     
				<b-button 
		    	@click="product.variants.splice(row.$index, 1)"
		    	variant="danger"
		    	size="sm">
					<i class="fas fa-trash-alt"></i>
		    </b-button>      
      </template>    
    </b-table>
	</div>
</template>
<script>
	import Variant from './_variants/Variant'
  import ColorField from './_attributes/ColorField'
  import SelectField from './_attributes/SelectField'
  import SwitcherField from './_attributes/SwitcherField'
  import TextField from './_attributes/TextField'

	export default {
		components: {
			ColorField,
			SelectField,
			SwitcherField,
			TextField,
		},
		props: ['product', 'attributes'],
		inject: ['getError', 'getErrorState'],
    computed: {
      fields() {
      	let fields = [
          {
            key: 'price',
            label: this.lang.get('messages.price'),
          },
          {
            key: 'quantity',
            label: this.lang.get('messages.quantity'),
          },
      	]

      	this.attributes.forEach((attribute) => {
      		fields.push({
            key: attribute.name,
            label: attribute.label,
      		})
      	})

      	fields.push({
          key: 'actions',
          label: this.lang.get('messages.actions'),
      	})

        return fields
      },
    },
		methods: {
			add() {
				if (!Array.isArray(this.product.variants)) {
					this.$set(this.product, 'variants', [])
				}

				this.product.variants.unshift({
					rid: this.$uniqid(),
				})
			},
    	getId(attribute, rid) {
    		return rid + '-' + attribute
    	},
    	getErrorKey(attribute, rid) {
    		return 'variants.' + rid + '.' + attribute
    	},
    	getCell(name) {
    		return 'cell('+name+')'
    	}
		},
	}
</script>