<template>
	<div>
		<b-button 
			@click="cols.unshift({
				name: null,
				rid: $uniqid(),
				items: []
			})"
      class="mb-3"><i class="fas fa-plus"></i></b-button>
    <b-table 
      :fields="fields"
      striped 
      hover 
      :items="cols">
      <template #cell(name)="row">     
			  <b-form-group
			    :invalid-feedback="colsGetError('name', row.item.rid)"
			    :state="colsGetErrorState('name', row.item.rid)"
			  >
			    <b-form-input 
			      id="name"
			      :state="getErrorState('name')"
			      v-model="row.item.name"></b-form-input>
			  </b-form-group>
      </template>    
      <template #cell(items)="row">    
			  <b-form-group
			    :invalid-feedback="colsGetError('items', row.item.rid)"
			    :state="getErrorState('items', row.item.rid)"
			  >
			    <treeselect 
			      :id="'categorySelect-'+row.index"
			      v-model="row.item.items"
			      :options="menuItemsSelect"
			      :multiple="true"
			      :flat="true"
			      :disable-branch-nodes="true"
			      :placeholder="lang.get('messages.select_item', {
			        item: lang.get('messages.menu_item')
			      })"
			       />
			  </b-form-group>
      </template>    
      <template #cell(actions)="row">     
        <destroy-button
          :action="() => cols.splice(row.index, 1)"></destroy-button>
      </template>    
    </b-table>
	</div>
</template>
<script>
  import Treeselect from '@riophae/vue-treeselect'

	export default {
    components: {Treeselect},
		props: ['value', 'type'],
		inject: ['getError', 'getErrorState'],
		data() {
			return {
				cols: this.value || [],
			}
		},
		watch: {
			cols(cols) {
				this.emitInput(cols)
			},
		},
		computed: {
			fields() {
        return [
          {
            key: 'name',
            label: this.lang.get('messages.name'),
            thStyle: {
              width: '40%'
            },
          },
          {
            key: 'items',
            label: this.lang.get('messages.items'),
            thStyle: {
              width: '40%'
            },
          },
          {
            key: 'actions',
            label: this.lang.get('messages.actions'),
            thStyle: {
              width: '200px'
            },
            tdClass: ['text-center'],
            thClass: ['text-center'],
          }
        ]
			},
      menuItemsSelect() {
        return this.$store.getters['menuItems/menuItemsSelect']
      },
		},
		methods: {
			colsGetError(name, index) {
				return this.getError('cols.'+index+'.'+name)
			},
			colsGetErrorState(name, index) {
				return this.getErrorState('cols.'+index+'.'+name)
			},
			emitInput(cols) {
				this.$emit('input', cols)
			}
		},
		mounted() {
			this.emitInput(this.cols)
		}
	}
</script>