<template>
	<div>
    <back-button></back-button>
    <locales-dropdown/> 
		<menu-item-form 
			:menu-item="menuItem"
			:action="(menuItem) => create(menuItem)"></menu-item-form>
	</div>
</template>
<script>
	import MenuItemForm from './Form'
  import store from '@/admin/store/index'

  const before = async (to, from, next) => {  
    await store.dispatch('categories/fetchCategoriesSelect', {query: to.query})
    await store.dispatch('menuItems/fetchMenuItemsSelect', {query: to.query})

    next()
  }

	export default {
		components: {MenuItemForm},
		data() {
			return {
				menuItem: {}
			}
		},
    computed: {
    },
    methods: {
      async create(model) {
        let data = await this.api.menuItems.create(model)

        this.$router.push(this.routeLocale({
          name: 'menu-items-edit',
          params: {
            id: data.menu_item.id
          }
        }))

        return data
      }
    },
    beforeRouteEnter: before,
    beforeRouteUpdate: before
	}
</script>