<template>
	<div>
    <back-button></back-button>
    <locales-dropdown/> 
		<menu-item-form 
			:menu-item="menuItem"
			:action="(menuItem) => save(menuItem)"
      :form-key="formKey"
      @refresh="refresh()"></menu-item-form>
	</div>
</template>
<script>
	import MenuItemForm from './Form'
  import store from '@/admin/store/index'

  const before = async (to, from, next) => {  
    await store.dispatch('menuItems/fetchOne', {id: to.params.id, query: to.query})
    await store.dispatch('categories/fetchCategoriesSelect', {
      query: to.query
    })
    await store.dispatch('menuItems/fetchMenuItemsSelect', {query: to.query})

    next()
  }

	export default {
		components: {MenuItemForm},
    data() {
      return {
        formKey: 0,
      }
    },
    computed: {
      menuItem() {
        return this.$store.getters['menuItems/menuItem']
      },
    },
    methods: {
      async save(menuItem) {
        let data = await this.api.menuItems.update(this.$route.params.id, menuItem)

        await store.dispatch('menuItems/fetchOne', {
        	id: this.$route.params.id, 
        	query: this.$route.query
        })

        this.refresh()

        return data
      },
      refresh() {
        this.formKey++
      }
    },
    beforeRouteEnter: before,
    beforeRouteUpdate: before
	}
</script>