<template>
	<form 
	  @submit.prevent="save(makeFormData(menuItem))">
	  <accordion
	  	v-model="activeIndex"
	  	class="mb-3">
	  	<accordion-collapse 
	  		:title="lang.get('messages.general')"
	  		:index="0">
			  <b-form-group
			    label-cols-sm="4"
			    label-cols-lg="3"
			    content-cols-sm
			    content-cols-lg="7"
			    :label="lang.get('messages.name')"
			    label-for="name"
			    label-align="right"
			    :invalid-feedback="getError('name')"
			    :state="getErrorState('name')"
			  >
			    <b-form-input 
			      id="name"
			      :state="getErrorState('name')"
			      v-model="menuItem.name"></b-form-input>
			  </b-form-group>
			  <b-form-group
			    v-if="categoriesSelect.length > 0"
			    label-cols-sm="4"
			    label-cols-lg="3"
			    content-cols-sm
			    content-cols-lg="7"
			    :label="lang.get('messages.category')"
			    label-for="categorySelect"
			    label-align="right"
			    :invalid-feedback="getError('category_id')"
			    :state="getErrorState('category_id')"
			  >
			    <treeselect 
			      id="categorySelect"
			      v-model="menuItem.category_id"
			      :options="categoriesSelect"
			      :placeholder="lang.get('messages.select_item', {
			        item: lang.get('messages.category')
			      })"
			       />
			  </b-form-group>
			  <b-form-group
			    label-cols-sm="4"
			    label-cols-lg="3"
			    content-cols-sm
			    content-cols-lg="7"
			    :label="lang.get('messages.slug')"
			    label-for="slug"
			    label-align="right"
			    :invalid-feedback="getError('slug')"
			    :state="getErrorState('slug')"
			  >
			    <b-form-input 
			      id="slug"
			      :state="getErrorState('slug')"
			      v-model="menuItem.slug"></b-form-input>
			  </b-form-group>
	  	</accordion-collapse>
	  	<accordion-collapse 
	  		:title="lang.get('messages.image')"
	  		:index="1">
			  <b-form-group
			    label-cols-sm="4"
			    label-cols-lg="3"
			    content-cols-sm
			    content-cols-lg="7"
			    :label="lang.get('messages.title')"
			    label-for="image_title"
			    label-align="right"
			    :invalid-feedback="getError('image_title')"
			    :state="getErrorState('image_title')"
			  >
			    <b-form-input 
			      id="imageTitle"
			      :state="getErrorState('image_title')"
			      v-model="menuItem.image_title"></b-form-input>
			  </b-form-group>
			  <b-form-group
			    label-cols-sm="4"
			    label-cols-lg="3"
			    content-cols-sm
			    content-cols-lg="7"
			    :label="lang.get('messages.image')"
			    label-for="image"
			    label-align="right"
			    :invalid-feedback="getError('image')"
			    :state="getErrorState('image')"
			  >
			    <b-form-file
			      id="image"
			      :class="{'mb-3': hasImage}"
			      v-model="menuItem.image"
		      	:state="getErrorState('image')"
			      :placeholder="lang.get('messages.file_placeholder')"
			      :browse-text="lang.get('messages.browse')"
				    ></b-form-file>
					<image-preview
						v-if="hasImage"
						:src="menuItem.image_url"
						@destroy="$set(menuItem, 'destroy_image',true)"/>
			  </b-form-group>
			  <b-form-group
			    label-cols-sm="4"
			    label-cols-lg="3"
			    content-cols-sm
			    content-cols-lg="7"
			    label="URL"
			    label-for="image_link"
			    label-align="right"
			    :invalid-feedback="getError('image_link')"
			    :state="getErrorState('image_link')"
			  >
			    <b-form-input 
			      id="imageLink"
			      :state="getErrorState('image_link')"
			      v-model="menuItem.image_link"></b-form-input>
			  </b-form-group>
	  	</accordion-collapse>
	  	<accordion-collapse 
	  		:title="lang.get('messages.cols')"
	  		:index="2">
	      <cols 
	      	:key="formKey"
	      	v-model="menuItem.cols"/>
	  	</accordion-collapse>
	  </accordion>
	  <div class="text-right">
	    <pending-button 
	      :pending="pending"
	      type="submit"
	      variant="primary"><i class="fas fa-save"></i> {{lang.get('messages.save')}}</pending-button>
	  </div>
	</form>
</template>
<script>
  import FormMixin from '@/mixin/form';
  import Treeselect from '@riophae/vue-treeselect'
  import Cols from './Cols'

	export default {
    mixins: [FormMixin],
    components: {Treeselect, Cols},
		props: ['menuItem', 'action', 'formKey'],
		data() {
			return {
				activeIndex: 0,
			}
		},
    computed: {
      categoriesSelect() {
        return this.$store.getters['categories/categoriesSelect']
      },
      hasImage() {
      	return this.menuItem.image_url && !this.menuItem.destroy_image
      }
    },
    watch: {
    	'$route.params.content_locale': function() {
    			this.$emit('refresh')
    	}
    },
		methods: {
      async save(category) {
        let data = await this.handleErrors(
          () => this.handlePending(
            async () => this.action(category)
          )
        )

        this.$bvToast.toast(data.message, {
          title: 'Sukces',
          autoHideDelay: 1000,
          variant: 'success'
        })
      },
      makeFormData(menuItem) {
      	let formData = new FormData()

      	let fields = [
      		'name',
      		'category_id',
      		'slug',
      		'image_title',
      		'image_link',
      		'image',
      	];

      	let colFields = [
      		'id',
      		'name',
      	];

      	formData.append('destroy_image', this.menuItem.destroy_image ? 1 : 0)

      	fields.forEach((field) => {
      		if (this.menuItem[field]) {
      			formData.append(field, this.menuItem[field])
      		}
      	})

      	if (Array.isArray(this.menuItem.cols)) {
	      	this.menuItem.cols.forEach((col) => {
		      	colFields.forEach((field) => {
		      		if (col[field]) {
		      			formData.append('cols['+col.rid+']['+field+']', col[field])
		      		}
		      	})
		      	col.items.forEach((item, index) => {
		      		formData.append('cols['+col.rid+'][items]['+index+']', item)
		      	})
	      	})      		
      	}

      	return formData
      }
		}
	}
</script>