<template>
	<div>
    <b-button 
      :to="routeLocale({
        name: 'menu-items-create'
      })"
      class="mb-3"><i class="fas fa-plus"></i> {{lang.get('messages.create')}}</b-button>
    <locales-dropdown/>
    <pagination-wrapper
      :per-page="menuItems.per_page"
      :total="menuItems.total">
      <b-table 
        :fields="fields"
        striped 
        hover 
        :items="menuItems.data">
        <template #cell(actions)="row">           
          <b-button
            v-b-tooltip.hover 
            :title="lang.get('messages.edit')"
            :to="routeLocale({
              name: 'menu-items-edit',
              params: {
                id: row.item.id
              },
            })"
            type="button"
            class="btn-dd-edit"
            variant="primary">
            <i class="fas fa-edit"></i>
          </b-button>  
          <destroy-button
            :action="() => api.menuItems.destroy(row.item.id)"
            @success="() => $store.dispatch('menuItems/fetchAll', $route.query)"></destroy-button>
        </template>    
      </b-table>
    </pagination-wrapper>
	</div>
</template>
<script>
  import store from '@/admin/store/index'

  const before = async (to, from, next) => {  
    await store.dispatch('menuItems/fetchAll', to.query)

    next()
  }
	
  export default {
    computed: {
      menuItems() {
        return this.$store.getters['menuItems/menuItems']
      },
      fields() {
        return [
          {
            key: 'id',
            label: 'ID',
          },
          {
            key: 'name_or_category_name',
            label: this.lang.get('messages.name'),
          },
          {
            key: 'actions',
            label: this.lang.get('messages.actions'),
            thStyle: {
              width: '200px'
            },
            tdClass: ['text-center'],
            thClass: ['text-center'],
          }
        ]
      }
    },
    beforeRouteEnter: before,
    beforeRouteUpdate: before
	}
</script>