<template>
	<div>
		<treeselect
			class="color-select"
			:options="attribute.options.map(opt => ({
	      id: opt.id,
	      label: opt.name,
	      color: opt.additional.color,
	    }))"
			:value="value"
			@input="$emit('input', $event)">
			<template slot="value-label" slot-scope="{ node }">
		  	<div class="d-flex align-items-center">
					{{ node.raw.label }}
		  		<span 
		  			v-if="node.raw.color"
		  			class="selected-color ml-1"
		      	:style="{
		      		'background': node.raw.color,
		      	}"></span>
				</div>
			</template>
		  <label 
		  	slot="option-label" 
		  	slot-scope="{ node, shouldShowCount, count, labelClassName, countClassName }" 
		  	:class="labelClassName">
		  	<div class="d-flex align-items-center py-1">
		  		<span 
		  			v-if="node.raw.color"
		  			class="selected-color"
		      	:style="{
		      		'background': node.raw.color,
		      	}"></span>
					{{ node.raw.label }}
				</div>
		  </label>
		</treeselect>
	</div>
</template>
<script>
	export default {
		props: ['attribute', 'value']
	}
</script>