<template>
	<div>
		<treeselect
			class="color-select"
			:options="attribute.options.map(opt => ({
	      id: opt.id,
	      label: opt.name,
	    }))"
			:value="value"
			@input="$emit('input', $event)">
		</treeselect>
	</div>
</template>
<script>
	export default {
		props: ['attribute', 'value']
	}
</script>