<template>
	<div class="d-flex align-items-center">
		<b-form-checkbox 
			:value="value"
			@input="$emit('input', $event)"
			:name="attribute.name" 
			switch>
			<slot/>
		</b-form-checkbox>
  </div>
</template>
<script>
	export default {
		props: ['value', 'attribute'],
		mounted() {
			// this.$emit('input', this.value || false)
		}
	}
</script>