<template>
  <b-form-input 
    :state="state"
		:value="value"
		@input="$emit('input', $event)"
		:name="attribute.name"></b-form-input>
</template>
<script>
	export default {
		props: ['value', 'attribute', 'state'],
		inject: ['getErrorState']
	}
</script>