<template>
	<div>
    <b-button 
      @click="edit({
        attributes: []
      })"
      class="mb-3"><i class="fas fa-plus"></i> {{lang.get('messages.create')}}</b-button>
    <pagination-wrapper
      :per-page="groups.per_page"
      :total="groups.total">
      <b-table 
        :fields="fields"
        striped 
        hover 
        :items="groups.data">
        <template #cell(actions)="row">           
          <b-button
            v-b-tooltip.hover 
            :title="lang.get('messages.edit')"
            @click="edit(row.item)"
            type="button"
            class="btn-dd-edit"
            variant="primary">
            <i class="fas fa-edit"></i>
          </b-button>  
          <destroy-button
            :action="() => api.attributeGroups.destroy(row.item.id)"
            @success="() => $store.dispatch('attributeGroups/fetchAll', $route.query)">    
          </destroy-button>
        </template>    
      </b-table>
    </pagination-wrapper>
    <b-modal
      id="groupModal"
      :title="modalGroup.id ? 
        lang.get('messages.item_edit', {item: lang.get('messages.attribute_group')}) :
        lang.get('messages.item_create', {item: lang.get('messages.attribute_group')})"
      ref="modal"
      hide-footer>
      <form 
        @submit.prevent="save(modalGroup)">
        <b-form-group
          label-cols-sm="4"
          label-cols-lg="3"
          content-cols-sm
          content-cols-lg="7"
          :label="lang.get('messages.name')"
          label-for="name"
          label-align="right"
          :invalid-feedback="getError('name')"
          :state="getErrorState('name')"
        >
          <b-form-input 
            id="name"
            :state="getErrorState('name')"
            v-model="modalGroup.name"></b-form-input>
        </b-form-group>
        <b-form-group
          label-cols-sm="4"
          label-cols-lg="3"
          content-cols-sm
          content-cols-lg="7"
          :label="lang.get('messages.attributes')"
          label-for="attributesSelect"
          label-align="right"
          :invalid-feedback="getError('attributes')"
          :state="getErrorState('attributes')"
        >
          <treeselect 
            id="attributesSelect"
            v-model="modalGroup.attributes"
            :options="attributes"
            :disable-branch-nodes="true"
            :placeholder="lang.get('messages.select_item', {
              item: lang.get('messages.attributes')
            })"
            :multiple="true"
             />
        </b-form-group>
        <div class="text-right">
          <pending-button 
            :pending="pending"
            type="submit"
            variant="primary"><i class="fas fa-save"></i> {{lang.get('messages.save')}}</pending-button>
        </div>
      </form>
    </b-modal>
	</div>
</template>
<script>
  import store from '@/admin/store/index'
  import FormMixin from '@/mixin/form';
  import Treeselect from '@riophae/vue-treeselect'

  const before = async (to, from, next) => { 
    await store.dispatch('attributeGroups/fetchAll', to.query)
    await store.dispatch('attributes/fetchAttributesSelect', to.query)

    next()
  }

	export default {
    mixins: [FormMixin],
    components: {Treeselect},
    data() {
      return {
        modalGroup: {},
        modalKey: 0,
      }
    },
    computed: {
      fields() {
        return [
          {
            key: 'name',
            label: this.lang.get('messages.name'),
          },
          {
            key: 'actions',
            label: this.lang.get('messages.actions'),
          }
        ]
      },
      groups() {
        return this.$store.getters['attributeGroups/groups']
      },
      attributes() {
        return this.$store.getters['attributes/attributesSelect']
      },
    },
    methods: {
      edit(group) {
        this.modalGroup = _.clone(group)
        this.$bvModal.show('groupModal')
        this.resetErrors()
      },
      async save(group) {
        let data = await this.handleErrors(
          () => this.handlePending(
            async () => {
              let data = group.id ? 
                await this.api.attributeGroups.update(group.id, group) :
                await this.api.attributeGroups.create(group)

              await store.dispatch('attributeGroups/fetchAll', this.$route.query)

              return data
            }
          )
        )

        this.$bvModal.hide('groupModal')
        this.$bvToast.toast(data.message, {
          title: 'Sukces',
          autoHideDelay: 1000,
          variant: 'success'
        })
      },
    },
    beforeRouteEnter: before,
    beforeRouteUpdate: before
	}
</script>