@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';
@import './sidebar';
@import "vue-swatches/dist/vue-swatches.css";
@import '@riophae/vue-treeselect/dist/vue-treeselect.css';
@import "./nestable.scss";
@import 'vue2-perfect-scrollbar/dist/vue2-perfect-scrollbar.css';
@import './helpers';

.layout {
	min-height: 100vh;
}

main {
	flex: 1;
    display: flex;
    flex-direction: column;
    // background-image: linear-gradient(to right, #f8f9fa, #f8f9fa 50%, #fff 50%, #fff);

    .container-fluid {
        flex: 1;
        display: flex;
        position: relative;

        .row {
            flex: 1;
        }
    }
}

.ps {
  max-height: calc(100vh - 114px - 2rem);
}
