.p-relative {
	position: relative;
}

.no-radius {
    border-radius: 0px!important;
}

.clear {
    clear: both;
}

.grid-p-sm {
    .row {
        margin-right: -5px;
        margin-left: -5px;
    }

    .col {
        padding-left: 5px;
        padding-right: 5px;
    }
}