#sidebar {
    transition: all 0.3s;
    padding: 20px 0px 20px 0px;
    color: #343a40;
    overflow: auto;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li.active>a {
    color: #343a40;
    font-weight: 600;
    background: #eeeeee;
}

#sidebar ul li a {
    padding: 10px;
    padding-right: 35px;
    font-size: 1.1em;
    display: block;
    font-weight: 600;
    transition: padding-left 0.5s, padding-right 0.5s;
    word-wrap: break-word;
    white-space: normal;

    &:hover {
        padding-left: 15px;
        padding-right: 30px;
    }
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    font-weight: 400;
    padding-left: 20px;
    &:hover {
        padding-left: 25px;
    }
}

#sidebar ul ul ul a {
    padding-left: 30px;

    &:hover {
        padding-left: 35px;
    }
}

#sidebar ul ul ul ul a {
    padding-left: 35px;

    &:hover {
        padding-left: 40px;
    }
}

#sidebar a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .sidebar-header {
    padding: 20px 10px;

    h4 {
        font-weight: 500;
    }
}