<template>
	<form @submit.prevent="login(form)">
		 <b-form-group
      label="Email"
      label-for="email"
      :invalid-feedback="getError('email')"
      :state="getErrorState('email')"
    >
      <b-form-input
        id="email"
        name="email"
        v-model="form.email"
        type="email"
        placeholder="Wpisz email"
        :state="getErrorState('email')"
      ></b-form-input>
    </b-form-group>

		 <b-form-group
      label="Hasło"
      label-for="password"
      :invalid-feedback="getError('password')"
      :state="getErrorState('password')"
    >
      <b-form-input
        id="password"
        name="password"
        v-model="form.password"
        type="password"
        placeholder="Wpisz hasło"
        :state="getErrorState('password')"
      ></b-form-input>
      <template #description>          
        <b-link :to="{
          name: 'password-forgot'
        }">Zapomniałeś hasła?</b-link>
      </template>
    </b-form-group>
    <pending-button 
    	block 
    	variant="primary"
    	type="submit"
    	:pending="pending">Zaloguj się</pending-button>
	</form>
</template>
<script>
	import FormMixin from '@/mixin/form'
	
	export default {
		mixins: [FormMixin],
		methods: {
			async login(form) {
				let data = await this.handleErrors(
					() => this.handlePending(
						() => this.$store.dispatch('auth/login', form)
					)
				)

        await this.$router.push({
          name: 'panel',
        })

        this.$bvToast.toast('Logowanie powiodło się', {
          title: 'Sukces',
          autoHideDelay: 1000,
          variant: 'success'
        })
        
			},			
		}
	}
</script>