<template>
	<form @submit.prevent="login(form)">
    <b-form-group
      label="Hasło"
      label-for="password"
      :invalid-feedback="getError('password')"
      :state="getErrorState('password')"
    >
      <b-form-input
        id="password"
        v-model="form.password"
        type="password"
        placeholder="Wpisz hasło"
        :state="getErrorState('password')"
      ></b-form-input>
    </b-form-group>    
    <b-form-group
      label="Potwierdzenie hasła"
      label-for="password"
      :invalid-feedback="getError('password_confirmation')"
      :state="getErrorState('password_confirmation')"
    >
      <b-form-input
        id="passwordConfirmed"
        v-model="form.password_confirmation"
        type="password"
        placeholder="Potwierdź hasło"
        :state="getErrorState('password_confirmation')"
      ></b-form-input>
    </b-form-group>
    <pending-button 
    	block 
    	variant="primary"
    	type="submit"
    	:pending="pending">Resetuj hasło</pending-button>
	</form>
</template>
<script>
	import FormMixin from '@/mixin/form'
	
	export default {
		mixins: [FormMixin],
    data() {
      return {
        form: {
          token: this.$route.query.token,
          email: this.$route.query.email,
        }
      }
    },
		methods: {
			async login(form) {
				let data = await this.handleErrors(
					() => this.handlePending(
						() => this.$store.dispatch('auth/resetPassword', form)
					)
				)

        await this.$router.push({
          name: 'login'
        })

        this.$bvToast.toast(data.message, {
          title: 'Sukces',
          autoHideDelay: 1000,
          variant: 'success'
        })
        
			},			
		}
	}
</script>