<template>
	<form @submit.prevent="login(form)">
		 <b-form-group
      label="Email"
      label-for="email"
      :invalid-feedback="getError('email')"
      :state="getErrorState('email')"
    >
      <b-form-input
        id="email"
        v-model="form.email"
        type="email"
        placeholder="Wpisz email"
        :state="getErrorState('email')"
      ></b-form-input>
      <template #description>          
        Podaj adres email, a wyślę do Ciebie link resetujący hasło.
      </template>
    </b-form-group>
    <pending-button 
    	block 
    	variant="primary"
    	type="submit"
    	:pending="pending">Wyślij</pending-button>
	</form>
</template>
<script>
	import FormMixin from '@/mixin/form'
	
	export default {
		mixins: [FormMixin],
		methods: {
			async login(form) {
				let data = await this.handleErrors(
					() => this.handlePending(
						() => this.$store.dispatch('auth/forgotPassword', form)
					)
				)

        this.$bvToast.toast(data.message, {
          title: 'Sukces',
          autoHideDelay: 1000,
          variant: 'success'
        })
        
			},			
		}
	}
</script>