<template>
	<b-col class="px-0" md="3">
		<a 
			:href="url"
			@mouseover="setTitle(title); setSubTitle(subTitle); setPrice(price)" 
			@mouseleave="setTitle(null); setSubTitle(null); setPrice(null)">
			<div
				class="px-1">				
				<b-img thumbnail fluid :src="src"></b-img>
			</div>
		</a>
	</b-col>
</template>
<script>
	export default {
		props: ['src', 'url', 'title', 'subTitle', 'price'],
		inject: ['setTitle', 'setSubTitle', 'setPrice']
	}
</script>