<template>
	<div class="dropdown categories-dropdown">
	  <a 
	  	class="nav-link dropdown-toggle" 
	  	type="button" 
	  	:id="randId" 
	  	data-toggle="dropdown" 
	  	aria-haspopup="true" 
	  	aria-expanded="false"
	  	href="#">
	    Kategorie
	  </a>
	  <div 
	  	class="dropdown-menu" 
	  	:aria-labelledby="randId">
	  	<categories-tree-row
	  		v-for="(item, index) in tree"
	  		:item="item"
	  		:key="index"></categories-tree-row>
	  </div>
	</div>
</template>
<script>
	import uniqid from 'uniqid';
	import CategoriesTreeRow from './CategoriesTreeRow'

	export default {
		props: ['tree'],
		components: {CategoriesTreeRow},
		computed: {
			randId() {
				return uniqid()
			}
		},
		mounted() {
			console.log(this.tree)
		}
	}
</script>