<template>
	<div>
    <a 
    	v-if="!item.children || item.children.length == 0"
    	class="dropdown-item" 
			:href="item.url_path">{{item.name}}</a>						    		    
		<div 
			v-else
			class="dropdown-submenu dropright">
		  <a 
		  	class="dropdown-item dropdown-toggle dropdown-submenu-toggle" 
		  	type="button" 
		  	:id="randId" 
		  	data-toggle="dropdown" 
		  	aria-haspopup="true" 
		  	aria-expanded="false"
				:href="item.url_path">
				{{item.name}}
		  </a>
		  <div class="dropdown-menu" :aria-labelledby="randId">
		    <categories-tree-row 
		    	v-for="(item, index) in item.children"
		    	:item="item"
	  			:key="index"></categories-tree-row>
		  </div>
		</div>
	</div>
</template>
<script>
	import uniqid from 'uniqid';

	export default {
		name: ['categories-tree-row'],
		props: ['item'],
		computed: {
			randId() {
				return uniqid()
			}
		},
		mounted() {
			console.log(this.item)
		}
	}
</script>