<template>
	<b-navbar-nav>
		<li  
			class="nav-item"  
			v-for="(parent, index) in menuItems">
	    <a 
	    	v-if="!parent.cols || parent.cols.length == 0"
	    	class="nav-link"
				:href="parent.slug_or_category_url_path">{{limit(parent.name_or_category_name)}}</a>	
			<div 
				v-else
				class="dropdown categories-dropdown fluid-categories-dropdown click-outside">
			  <a 
			  	class="nav-link dropdown-toggle" 
			  	type="button" 
			  	data-toggle="dropdown" 
			  	aria-haspopup="true" 
			  	aria-expanded="false"
			  	href="#">
			    {{limit(parent.name)}}
			  </a>
			  <div 
			  	class="dropdown-menu py-3 fluid-dropdown-menu">
			  	<perfect-scrollbar>
				  	<b-container fluid>
				  		<b-row>
				  			<b-col
				  				:lg="parent.image_url ? 10 : 12">
				  				<b-row>
								    <b-col
							  			v-for="(col, index) in parent.cols"
										  :key="index"
										  lg="4">
						  				<h3 class="px-2 h5">{{col.name}}</h3>
						  				<b-nav vertical class="mb-2">
										    <b-nav-item
										    	link-classes="text-secondary"
										    	v-for="(item, index) in col.items"
										    	:key="index"
									    		:href="item.url">{{item.name}}</b-nav-item>
										  </b-nav>
								    </b-col>
								  </b-row>
						  	</b-col>
						    <b-col 
						    	v-if="parent.image_url"
						    	lg="2">
						    	<a :href="parent.image_full_link">
							    	<b-img 
							    		:src="parent.image_url" 
							    		fluid 
							    		thumbnail 
							    		:alt="parent.name_or_category_name"
							    		style="max-width: 100%;"
							    		class="mb-2"></b-img>
							    	<h5>{{parent.image_title}}</h5>
							    </a>
						    </b-col>
						  </b-row>
					  </b-container>
					</perfect-scrollbar>
			  </div>
			</div>
		</li>
	</b-navbar-nav>
</template>
<script>
	import uniqid from 'uniqid';
	import vuescroll from 'vuescroll';

	export default {
		components: {vuescroll},
		props: ['menuItems'],  
		data() {
      return {
        ops: {
        	vuescroll: {
			      sizeStrategy: 'number'
			    },
        	maxHeight: 300
        }
      }
    },
		methods: {
			limit(str) {
				let limit = 20
				return (str.length > limit) ? (str.substring(0,limit)+'...') : str
			},
		},
		mounted() {
		  $('.dropdown-submenu a.dropdown-submenu-toggle').on("click", function(e) {
		    if (!$(this).next().hasClass('show')) {
			    $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
			  }

			  var $subMenu = $(this).next(".dropdown-menu");
			  $subMenu.toggleClass('show');

			  $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
			    $('.dropdown-submenu .show').removeClass("show");
			  });

			  return false;
		  });
		}
	}
</script>