<template>
	<a 
		:href="url">
		<b-card
			:img-src="imgSrc"
			no-body
			class="product-card mb-3">
			<div 
				v-if="$slots.thumbs"
				class="under">
				<b-card-body class="binding-products">
					<slot name="thumbs"/>
				</b-card-body>			
			</div>
			<b-card-body class="over bg-white">
				<b-card-title>{{variantTitle || title}}</b-card-title>
				<b-card-sub-title>{{variantSubTitle || subTitle}}</b-card-sub-title>
				<slot/>
			</b-card-body>
			<b-card-footer class="over">
				{{variantPrice || price}}
			</b-card-footer>
		</b-card>		
	</a>
</template>
<script>
	export default {
		props: [
			'title', 
			'subTitle', 
			'imgSrc', 
			'price', 
			'url',
		],
		data() {
			return {
				variantTitle: null,
				variantSubTitle: null,
				variantPrice: null,
			}
		},
		provide() {
			return {
				setTitle: this.setTitle,
				setSubTitle: this.setSubTitle,
				setPrice: this.setPrice,
			}
		},
		methods: {
			setTitle(title) {
				this.variantTitle = title
			},
			setSubTitle(subTitle) {
				this.variantSubTitle = subTitle
			},
			setPrice(price) {
				this.variantPrice = price
			},
		}
	}
</script>