<template>
	<li
		:class="{
			'active': isActive
		}">
		<template 
	  	v-if="category.children && category.children.length > 0">
		  <a 
		  	:href="hashRandId" 
		  	data-toggle="collapse" 
		  	class="dropdown-toggle" 
		  	:aria-expanded="expanded">{{category.name}}</a> 
		  <ul 
		  	:id="randId" 
		  	class="list-unstyled collapse" 
		  	:data-parent="dataParent" 
		  	:class="{
		  		'show': isOpen
		  	}">
	  		<sidebar-row 
	  			v-for="(child, index) in category.children"
	  			:category="child"
	  			:key="index"
	    		:data-parent="hashRandId"/>
		  </ul>			
		</template>
		<a 
			v-else
			:href="category.url">{{category.name}}</a>  
	</li>
</template>
<script>
	export default {
		name: 'sidebar-row',
		props: ['category', 'dataParent'],
		inject: {
			currentCategory: {
				from: 'currentCategory',
			},
  	},
		data() {
			return {
				expanded: false
			}
		},
		computed: {
			randId() {
				return this.$uniqid()
			},
			hashRandId() {
				return '#'+this.randId
			},
			isOpen() {
				if (!this.currentCategory) {
					return false
				}
				let ids = this.currentCategory.ancestors.map((ancestor) => ancestor.id)

				return ids.includes(this.category.id)
			},
			isActive() {
				if (!this.currentCategory) {
					return false
				}

				return this.currentCategory.id == this.category.id
			}
		}, 
		mounted() {
		}
	}
</script>