<template>
	<nav id="sidebar" class="">
    <ul class="list-unstyled components">
  		<sidebar-row 
  			v-for="(category, index) in categories"
  			:category="category"
  			:key="index"
	    	data-parent="#sidebar"/>
    </ul>
	</nav>
</template>
<script>
	import SidebarRow from './SidebarRow'

	export default {
		components: {SidebarRow},
		props: ['categories', 'currentCategory'],
		provide() {
			return {
				currentCategory: this.currentCategory
			}
		},
		mounted() {
		}
	}
</script>