<template>
  <b-card no-body>
    <b-card-header header-tag="header" class="p-1" role="tab">
    	<slot name="header" :activate="activate">
	      <b-button 
	      	@click="activate(index)"
	      	block
	      	variant="link" 
	      	class="text-left">
	      	{{title}}
	      </b-button>
	    </slot>
    </b-card-header>
    <b-collapse 
    	:visible="visible"
    	:accordion="accordionId" 
    	role="tabpanel">
      <b-card-body>
      	<slot/>
      </b-card-body>
    </b-collapse>
  </b-card>
</template>
<script>
	export default {
		props: ['title', 'index'],
		inject: ['accordionId', 'getActiveIndex', 'activate'],
		computed: {
			visible() {
				return this.index == this.getActiveIndex()
			}
		}
	}
</script>