<template>
	<div class="accordion" role="tablist">
		<slot/>
	</div>
</template>
<script>
	export default {
		props: ['value'],
		data() {
			return {
				activeIndex: this.value || 0
			}
		},
		watch: {
			activeIndex(activeIndex) {
				this.$emit('input', activeIndex)
			}
		},
		computed: {
			randId() {
				return this.$uniqid()
			}
		},
		provide() {
			return {
				accordionId: this.randId,
				getActiveIndex: () => this.activeIndex,
				activate: this.activate,
			}
		},
		methods: {
			activate(index) {
				if (this.activeIndex == index) {
					this.activeIndex = null
				} else {
					this.activeIndex = index
				}
			}
		}
	}
</script>