<template>
	<pending-button 
		:pending="pending"
		@click="destroy()"
		variant="danger"
		:size="size">
		<template #icon>
			<i class="fas fa-trash-alt"></i>
		</template>
		<slot/>
	</pending-button>
</template>
<script>
	export default {
		props: ['action', 'size'],
		data() {
			return {
				pending: false
			}
		},
		methods: {
			async destroy() {
				this.pending = true
				let data = await this.action()
        this.$bvToast.toast(data.message, {
          title: 'Sukces',
          autoHideDelay: 1000,
          variant: 'success'
        })
				this.$emit('success')
				this.pending = false
			}
		}
	}
</script>