<template>
	<b-card
    :img-src="src"
    img-top
    class="mb-2"
  >
    <b-button 
    	@click="$emit('destroy')"
    	variant="danger"
    	size="sm"
    	block>
			<i class="fas fa-trash-alt"></i>
    </b-button>
  </b-card>
</template>
<script>
	export default {
		props: ['src'],
	}
</script>