<template>
  <div>    
    <div 
      v-if="pending"
      class="d-flex justify-content-center align-items-center mb-3">
      <b-spinner label="Ładowanie..."></b-spinner>
    </div>
    <slot v-else/>
  </div>
</template>
<script>
  export default {
    props: ['pending']
  }
</script>