<template>
  <b-dropdown 
    :text="selectedLocale ? selectedLocale.name : lang.get('messages.lang')" 
    right
    class="float-right">
    <b-dropdown-item 
      v-for="(locale, index) in locales"
      :key="index"
      :to="{
      name: $route.name,
      query: $route.query,
      params: {
        ...$route.params,
        content_locale: locale.code
      },
    }"
    :exact="true">{{locale.name.toUpperCase()}}</b-dropdown-item>
  </b-dropdown>  
</template>
<script>
	export default {
		computed: {
      locales() {
        return this.$store.getters['locales/locales']
      },
      selectedLocale() {
        let locale = this.$route.params.content_locale || this.locale
        return this.locales.find((loc) => locale == loc.code)
      }
		}
	}
</script>