<template>
	<div>
		<b-pagination
			v-if="total > perPage"
      v-model="page"
      :total-rows="total"
      :per-page="perPage"
      align="center"
    ></b-pagination>	
    <slot/>
		<b-pagination
			v-if="total > perPage"
			class="mt-3"
      v-model="page"
      :total-rows="total"
      :per-page="perPage"
      align="center"
    ></b-pagination>	
	</div>
</template>
<script>
	export default {
		props: ['total', 'perPage'],
		data() {
			return {
        page: this.$route.query.page || 1,
			}
		},
		watch: {
			page(page) {
				this.$router.push({
					name: this.$route.name,
					params: this.$route.params,
					query: {
						...this.$route.query,
						page: page
					}
				})
			},
		},
	}
</script>