<template>
	<div>
		<div 
	  	v-if="pending"
	  	class="d-flex justify-content-center align-items-center h-100">
		  <i  
		  	class="fas fa-circle-notch fa-spin"></i>
	  </div>
		<slot v-else/>
	</div>
</template>
<script>
	export default {
		props: ['pending']
	}
</script>