<template>
  <b-button 
  	:block="block"
  	:variant="variant"
  	:type="type"
		:size="size"
  	@click="$emit('click')"
  	:disabled="pending">
	  <i  
	  	v-if="pending"
	  	class="fas fa-circle-notch fa-spin"></i>
	  <slot 
	  	v-else
	  	name="icon"/>
	  <slot/>
	</b-button>
</template>
<script>
	export default {
		props: ['type', 'variant', 'pending', 'block', 'size']
	}
</script>