<template>
	<div>
		<vue-topprogress 
			ref="topProgress"
			color="#007bff"
			:minimum="40"></vue-topprogress>
	</div>
</template>
<script>
	export default {
		watch: {
			started(started) {
				if (started) {
					this.$refs.topProgress.start()
				}
			},
			finished(finished) {
				if (finished) {
					this.$refs.topProgress.done()
					this.$store.commit('topProgressbar/reset')
				}
			}
		},
		computed: {
			started() {
				return this.$store.getters['topProgressbar/started']
			},
			finished() {
				return this.$store.getters['topProgressbar/finished']
			},
		}
	}
</script>