<template>
	<nav id="sidebar" class="">
    <ul class="list-unstyled components">
  		<sidebar-row 
  			v-for="(category, index) in categories"
  			:category="category"
  			:key="index"
  			data-parent="#sidebar"/>
    </ul>
	</nav>
</template>
<script>
	import SidebarRow from './SidebarRow'

	export default {
		components: {SidebarRow},
		computed: {
			categories() {
				return [
					{
						name: this.lang.get('messages.catalog'),
						expand: true,
						children: [
							{
								name: this.lang.get('messages.products'),
								route: 'products'
							},
							{
								name: this.lang.get('messages.attributes'),
								route: 'attributes'
							},
							{
								name: this.lang.get('messages.attribute_groups'),
								route: 'attribute-groups'
							},
							{
								name: this.lang.get('messages.categories'),
								route: 'categories'
							},
							{
								name: this.lang.get('messages.categories_tree'),
								route: 'categories-tree'
							},
							{
								name: this.lang.get('messages.menu_items'),
								route: 'menu-items'
							},
						],
					},
					{
						name: this.lang.get('messages.settings'),
						children: [
							{
								name: this.lang.get('messages.locales'),
								route: 'locales'
							},
						]
					}
				]
			}
		},
		mounted() {

		}
	}
</script>