<template>
	<li class="">
		<template 
	  	v-if="category.children && category.children.length > 0">
		  <a 
		  	:href="hashRandId" 
		  	data-toggle="collapse" 
		  	class="dropdown-toggle" 
		  	:aria-expanded="category.expand">{{category.name}}</a> 
		  <ul 
		  	data-parent="#sidebar" 
		  	:id="randId" 
		  	class="list-unstyled collapse" 
		  	:class="{
		  		'show': category.expand
		  	}"
		  	:data-parent="dataParent" 
		  	style="">
	  		<sidebar-row 
	  			v-for="(child, index) in category.children"
	  			:category="child"
	  			:key="index"
	    		:data-parent="hashRandId"/>
		  </ul>			
		</template>
		<router-link 
			v-else
			:to="{name:category.route}" class="">{{category.name}}</router-link>  
	</li>
</template>
<script>
	export default {
		name: 'sidebar-row',
		props: ['category', 'dataParent'],
		computed: {
			randId() {
				return this.$uniqid()
			},
			hashRandId() {
				return '#'+this.randId
			}
		}, 
	}
</script>