<template>
	<div>
    <back-button></back-button>
    <locales-dropdown/> 
		<category-form 
			:category="category"
			:action="(category) => create(category)"></category-form>
	</div>
</template>
<script>
	import CategoryForm from './Form'
  import store from '@/admin/store/index'

  const before = async (to, from, next) => {  
    await store.dispatch('categories/fetchCategoriesSelect', {query: to.query})
    await store.dispatch('attributeGroups/fetchAttributeGroupsSelect', {query: to.query})

    next()
  }

	export default {
		components: {CategoryForm},
		data() {
			return {
				category: {}
			}
		},
    computed: {
    },
    methods: {
      async create(model) {
        let data = await this.api.categories.create(model)

        this.$router.push(this.routeLocale({
          name: 'categories-edit',
          params: {
            id: data.category.id
          }
        }))

        return data
      }
    },
    beforeRouteEnter: before,
    beforeRouteUpdate: before
	}
</script>