<template>
	<div>
    <back-button></back-button>
    <locales-dropdown/> 
		<category-form 
			:category="category"
			:action="(category) => save(category)"></category-form>
	</div>
</template>
<script>
	import CategoryForm from './Form'
  import store from '@/admin/store/index'

  const before = async (to, from, next) => {  
    await store.dispatch('categories/fetchOne', {id: to.params.id, query: to.query})
    await store.dispatch('categories/fetchCategoriesSelect', {
      query: to.query,
      id: to.params.id
    })
    await store.dispatch('attributeGroups/fetchAttributeGroupsSelect', {query: to.query})

    next()
  }
	
  export default {
		components: {CategoryForm},
    computed: {
      category() {
        return this.$store.getters['categories/category']
      },
    },
    methods: {
      async save(category) {
        let data = await this.api.categories.update(this.$route.params.id, category)

        await store.dispatch('categories/fetchOne', {id: this.$route.params.id, query: this.$route.query})

        return data
      },
    },
    beforeRouteEnter: before,
    beforeRouteUpdate: before
	}
</script>