<template>
	<form 
	  @submit.prevent="save(category)">
    <input 
      type="hidden" 
      v-model="category.locale = $route.query.locale"/>
	  <b-form-group
	    label-cols-sm="4"
	    label-cols-lg="3"
	    content-cols-sm
	    content-cols-lg="7"
	    :label="lang.get('messages.name')"
	    label-for="name"
	    label-align="right"
	    :invalid-feedback="getError('name')"
	    :state="getErrorState('name')"
	  >
	    <b-form-input 
	      id="name"
	      :state="getErrorState('name')"
	      v-model="category.name"></b-form-input>
	  </b-form-group>
	  <b-form-group
	    label-cols-sm="4"
	    label-cols-lg="3"
	    content-cols-sm
	    content-cols-lg="7"
	    :label="lang.get('messages.slug')"
	    label-for="slug"
	    label-align="right"
	    :invalid-feedback="getError('slug')"
	    :state="getErrorState('slug')"
	  >
	    <b-form-input 
	      id="slug"
	      :state="getErrorState('slug')"
	      v-model="category.slug"></b-form-input>
	  </b-form-group>
	  <b-form-group
	    v-if="categoriesSelect.length > 0"
	    label-cols-sm="4"
	    label-cols-lg="3"
	    content-cols-sm
	    content-cols-lg="7"
	    :label="lang.get('messages.parent')"
	    label-for="categorySelect"
	    label-align="right"
	    :invalid-feedback="getError('parent_id')"
	    :state="getErrorState('parent_id')"
	  >
	    <treeselect 
	      id="categorySelect"
	      v-model="category.parent_id"
	      :options="categoriesSelect"
	      :placeholder="lang.get('messages.select_item', {
	        item: lang.get('messages.category')
	      })"
	       />
	  </b-form-group>
	  <b-form-group
	    v-if="attributeGroupsSelect.length > 0"
	    label-cols-sm="4"
	    label-cols-lg="3"
	    content-cols-sm
	    content-cols-lg="7"
	    :label="lang.get('messages.attributes_group')"
	    label-for="groupSelect"
	    label-align="right"
	    :invalid-feedback="getError('group_id')"
	    :state="getErrorState('group_id')"
	  >
	    <treeselect 
	      id="groupSelect"
	      v-model="category.group_id"
	      :options="attributeGroupsSelect"
	      :placeholder="lang.get('messages.select_item', {
	        item: lang.get('messages.attributes_group')
	      })"
	       />
	  </b-form-group>
	  <div class="text-right">
	    <pending-button 
	      :pending="pending"
	      type="submit"
	      variant="primary"><i class="fas fa-save"></i> {{lang.get('messages.save')}}</pending-button>
	  </div>
	</form>
</template>
<script>
  import FormMixin from '@/mixin/form';
  import Treeselect from '@riophae/vue-treeselect'
	export default {
    mixins: [FormMixin],
    components: {Treeselect},
		props: ['category', 'action'],
		data() {
			return {
				test: []
			}
		},
    computed: {
      categoriesSelect() {
        return this.$store.getters['categories/categoriesSelect']
      },
      attributeGroupsSelect() {
        return this.$store.getters['attributeGroups/attributeGroupsSelect']
      },
    },
		methods: {
      async save(category) {
        let data = await this.handleErrors(
          () => this.handlePending(
            async () => this.action(category)
          )
        )

        this.$bvToast.toast(data.message, {
          title: 'Sukces',
          autoHideDelay: 1000,
          variant: 'success'
        })
      },
		}
	}
</script>