<template>
  <div class="footer bg-dark">
    <div class="container pt-4 pb-4">
      <div class="row">
<!--         <div class="col-md-4">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a 
                class="nav-link text-light" 
                target="_blank" 
                href="/assets/pdf/regulamin.pdf">Regulamin <i class="fas fa-external-link-alt"></i></a>
            </li>
            <li class="nav-item">
              <a 
                class="nav-link text-light" 
                target="_blank" 
                href="/assets/pdf/polityka.pdf">Polityka prywatności <i class="fas fa-external-link-alt"></i></a>
            </li>
          </ul>
        </div> -->
        <div class="col-md-4 offset-md-8 text-right">      
          <b-dropdown 
            variant="secondary"
            no-caret
            menu-class="wide-dropdown"
            right>
            <template #button-content>      
              Dane kontaktowe
            </template>
            <template>
              <div class="px-2">
                <span>Daniel Majchrzak</span>
                <span>Staromiejska, nr 6, lok. 10d40-013, Katowice</span>
                <div class="dropdown-divider"></div>         
                <span><i class="fas fa-envelope"></i> danielmajchrzak90@gmail.com</span>
                <div class="dropdown-divider"></div>               
                <span><i class="fas fa-phone"></i> 507 707 376</span>
              </div>
            </template>
          </b-dropdown>   
        </div>
      </div>
    </div>
  </div>
</template>