<template>
	<b-card
    :img-src="isImage(file.file) ? generateImage(file.file) : null"
    img-top
    class="mb-2"
    header-class="py-0 preview-card-header"
  >
  	<template 
    	v-if="!isImage(file.file)" 
    	#header>
	      {{file.file.name}}
  	</template>
  	<b-form-invalid-feedback
  		class="mt-0 mb-2"
  	 	:state="getErrorState('uploaded_images.'+file.rid)">{{getError('uploaded_images.'+file.rid)}}</b-form-invalid-feedback>
    <b-button 
    	@click="$emit('destroy')"
    	variant="danger"
    	size="sm"
    	block>
			<i class="fas fa-trash-alt"></i>
    </b-button>
  </b-card>
</template>
<script>
	export default {
		props: ['file'],
		inject: ['getError', 'getErrorState'],
		computed: {
			imageExts() {
				return [
					'jpg', 'jpeg', 'png', 'bmp',
				]
			}
		},
		methods: {
			isImage(file) {
				let typeParts = file['type'].split('/')
				return file && typeParts[0] === 'image' && this.imageExts.includes(typeParts[1].toLowerCase());
			},
			generateImage(file) {
				return URL.createObjectURL(file)
			}
		}
	}
</script>