<template>
	<div>
		<h5 v-if="files.length > 0">{{lang.get('messages.selected_images')}}</h5>
		<b-row class="mx-0">
	    <b-col
				v-for="(file, index) in files"
				:key="file._id"
				md="3"
				class="px-1">
					<upload-preview
						:key="file._id"
						:file="file"
						@destroy="files.splice(index, 1)"/>
			</b-col>
		</b-row>
	</div>
</template>
<script>
	import UploadPreview from './UploadPreview'

	export default {
		components: {UploadPreview},
		props: ['files'],
	}
</script>