<template>
	<div>
    <back-button></back-button>
    <locales-dropdown/> 
		<product-form 
			:product="product"
			:action="(product) => create(product)"></product-form>
	</div>
</template>
<script>
	import ProductForm from './Form'
  import store from '@/admin/store/index'

  const before = async (to, from, next) => {   
    await store.dispatch('categories/fetchCategoriesSelect', {query: to.query})
    await store.dispatch('products/fetchProductsSelect', {query: to.query})

    next()
  }

	export default {
		components: {ProductForm},
		data() {
			return {
				product: {
          sku: this.$uniqid()
        }
			}
		},
    computed: {
    },
    methods: {
      async create(model) {
        let data = await this.api.products.create(model)

        this.$router.push(this.routeLocale({
          name: 'products-edit',
          params: {
            id: data.product.id
          }
        }))

        return data
      }
    },
    beforeRouteEnter: before,
    beforeRouteUpdate: before
	}
</script>