<template>
	<div>
    <back-button></back-button>
    <locales-dropdown/> 
		<product-form 
			:product="product"
			:action="(productFormData) => save(productFormData)"
      :form-key="formKey"
      @refresh="refresh()"></product-form>
	</div>
</template>
<script>
	import ProductForm from './Form'
  import store from '@/admin/store/index'
  
  const before = async (to, from, next) => {  
    await Promise.all([
      new Promise(async (resolve, reject) => {
        await store.dispatch('products/fetchOne', {id: to.params.id, query: to.query})
        resolve()
      }), 
      new Promise(async (resolve, reject) => {
        await store.dispatch('categories/fetchCategoriesSelect', {
          query: to.query,
        })
        resolve()
      }), 
      new Promise(async (resolve, reject) => {
        await store.dispatch('products/fetchProductsSelect', {query: to.query})
        resolve()
      }), 
    ])

    let categoryId = store.getters['products/product']['category_id']
    
    if (categoryId) {
      await store.dispatch('products/fetchAttributes', {
        categoryId: categoryId,
        query: to.query
      })      
    }

    next()
  }

	export default {
		components: {ProductForm},
    data() {
      return {
        formKey: 0,
      }
    },
    computed: {
      product() {
        return this.$store.getters['products/product']
      }
    },
    methods: {
      async save(productFormData) {
        let data = await this.api.products.update(this.$route.params.id, productFormData)

        await store.dispatch('products/fetchOne', {
        	id: this.$route.params.id, 
        	query: this.$route.query
        })

        this.refresh()

        return data
      },
      refresh() {
        this.formKey++
      }
    },
    beforeRouteEnter: before,
    beforeRouteUpdate: before
	}
</script>