<template>
	<form 
	  @submit.prevent="save(productFormData)">
	  <accordion
	  	v-model="activeIndex"
	  	class="mb-3">
	  	<accordion-collapse 
	  		:title="lang.get('messages.general')"
	  		:index="0">
			  <b-form-group
			    label-cols-sm="4"
			    label-cols-lg="3"
			    content-cols-sm
			    content-cols-lg="7"
			    :label="lang.get('messages.sku')"
			    label-for="sku"
			    label-align="right"
			    :invalid-feedback="getError('sku')"
			    :state="getErrorState('sku')"
			  >
			    <b-form-input 
			      id="sku"
			      :state="getErrorState('sku')"
			      v-model="product.sku"></b-form-input>
			  </b-form-group>
			  <b-form-group
			    label-cols-sm="4"
			    label-cols-lg="3"
			    content-cols-sm
			    content-cols-lg="7"
			    :label="lang.get('messages.name')"
			    label-for="name"
			    label-align="right"
			    :invalid-feedback="getError('name')"
			    :state="getErrorState('name')"
			  >
			    <b-form-input 
			      id="name"
			      :state="getErrorState('name')"
			      v-model="product.name"></b-form-input>
			  </b-form-group>
			  <b-form-group
			    v-if="categoriesSelect.length > 0"
			    label-cols-sm="4"
			    label-cols-lg="3"
			    content-cols-sm
			    content-cols-lg="7"
			    :label="lang.get('messages.category')"
			    label-for="categorySelect"
			    label-align="right"
			    :invalid-feedback="getError('category_id')"
			    :state="getErrorState('category_id')"
			  >
			    <treeselect 
			      id="categorySelect"
			      v-model="product.category_id"
			      :options="categoriesSelect"
			      :disable-branch-nodes="true"
			      :placeholder="lang.get('messages.select_item', {
			        item: lang.get('messages.category')
			      })"
			       />
			  </b-form-group>
			  <b-form-group
			    label-cols-sm="4"
			    label-cols-lg="3"
			    content-cols-sm
			    content-cols-lg="7"
			    :label="lang.get('messages.related_products')"
			    label-for="relatedProductsSelect"
			    label-align="right"
			    :invalid-feedback="getError('related_products')"
			    :state="getErrorState('related_products')"
			  >
			    <related-products-select
    				id="relatedProductsSelect"
			      v-model="product.related_products"></related-products-select>
			  </b-form-group>
			  <b-form-group
			    label-cols-sm="4"
			    label-cols-lg="3"
			    content-cols-sm
			    content-cols-lg="7"
			    :label="lang.get('messages.slug')"
			    label-for="slug"
			    label-align="right"
			    :invalid-feedback="getError('slug')"
			    :state="getErrorState('slug')"
			  >
			    <b-form-input 
			      id="slug"
			      :state="getErrorState('slug')"
			      v-model="product.slug"></b-form-input>
			  </b-form-group>
			  <b-form-group
			    label-cols-sm="4"
			    label-cols-lg="3"
			    content-cols-sm
			    content-cols-lg="7"
			    :label="lang.get('messages.price')"
			    label-for="price"
			    label-align="right"
			    :invalid-feedback="getError('price')"
			    :state="getErrorState('price')"
			  >
			    <b-form-input 
			      id="price"
			      :state="getErrorState('price')"
			      v-model="product.price"></b-form-input>
			  </b-form-group>
			  <b-form-group
			    label-cols-sm="4"
			    label-cols-lg="3"
			    content-cols-sm
			    content-cols-lg="7"
			    :label="lang.get('messages.quantity')"
			    label-for="quantity"
			    label-align="right"
			    :invalid-feedback="getError('quantity')"
			    :state="getErrorState('quantity')"
			  >
			    <b-form-input 
			      id="quantity"
			      :state="getErrorState('quantity')"
			      v-model="product.quantity"></b-form-input>
			  </b-form-group>			  
			  <b-form-group
			    label-cols-sm="4"
			    label-cols-lg="3"
			    content-cols-sm
			    content-cols-lg="7"
			    :label="lang.get('messages.is_active')"
			    label-for="is_active"
			    label-align="right"
			    :invalid-feedback="getError('is_active')"
			    :state="getErrorState('is_active')"
			  >
			  	<div class="h-100 d-flex align-items-center">
						<b-form-checkbox 
				      v-model="product.is_active" 
				      switch>
				    </b-form-checkbox>
				  </div>
			  </b-form-group>
			  <b-form-group
			    label-cols-sm="4"
			    label-cols-lg="3"
			    content-cols-sm
			    content-cols-lg="7"
			    :label="lang.get('messages.description')"
			    label-for="slug"
			    label-align="right"
			    :invalid-feedback="getError('description')"
			    :state="getErrorState('description')"
			  >        
			  	<ckeditor 
			  		v-model="product.description"></ckeditor>
			  </b-form-group>
	  	</accordion-collapse>
	  	<accordion-collapse 
	  		v-if="attributes.length > 0"
	  		:title="lang.get('messages.attributes')"
	  		:index="1">
	  		<attributes 
	  			:key="formKey"
	  			:product="product"
	  			:attributes="attributes"></attributes>
	  	</accordion-collapse>
	  	<accordion-collapse 
	  		:title="lang.get('messages.images')"
	  		:index="2">
	  		<upload-images 
	  			:key="formKey"
	  			:product="product"></upload-images>
	  		<hr v-if="showImageHr" class="mb-3 mt-3">
	  		<images :product="product"/>
	  	</accordion-collapse>
	  	<accordion-collapse 
	  		:title="lang.get('messages.variants')"
	  		:index="3">
	  		<variants 
	  			:product="product"
	  			:attributes="variantAttributes"/>
	  	</accordion-collapse>
	  </accordion>
	  <div class="text-right">
	    <pending-button 
	      :pending="pending"
	      type="submit"
	      variant="primary"><i class="fas fa-save"></i> {{lang.get('messages.save')}}</pending-button>
	  </div>
	</form>
</template>
<script>
  import FormMixin from '@/mixin/form';
  import Treeselect from '@riophae/vue-treeselect'
  import Attributes from './_components/Attributes'
  import UploadImages from './_components/UploadImages'
  import Images from './_components/Images'
  import Variants from './_components/Variants'
  import RelatedProductsSelect from './_components/RelatedProductsSelect'

	export default {
    mixins: [FormMixin],
    components: {Treeselect, Attributes, UploadImages, Images, Variants, RelatedProductsSelect},
		props: ['product', 'action', 'formKey'],
		data() {
			return {
				activeIndex: 0,
			}
		},
    computed: {
      categoriesSelect() {
        return this.$store.getters['categories/categoriesSelect']
      },
      attributes() {
        return this.$store.getters['products/attributes']
      },
      variantAttributes() {
      	return this.attributes.filter((attribute) => attribute.is_variant)
      },
      productFormData() {
      	let formData = new FormData()

      	let fields = [
      		'sku',
      		'name',
      		'category_id',
      		'slug',
      		'price',
      		'quantity',
      		'description',
      	];

      	fields.forEach((field) => {
      		if (this.product[field]) {
      			formData.append(field, this.product[field])
      		}
      	})

      	formData.append('is_active', this.product.is_active ? 1 : 0)

      	if (Array.isArray(this.product.related_products)) {
	      	_.forEach(this.product.related_products, (id, index) => {
	      		formData.append('related_products['+index+']', id)
	      	})
      	}

      	this.attributes.forEach((attribute) => {
      		if (this.product[attribute.name]) {
      			formData.append(attribute.name, this.product[attribute.name])
      		}
      	})

      	if (Array.isArray(this.product.uploaded_images)) {
	      	_.forEach(this.product.uploaded_images, (file, index) => {
	      		formData.append('uploaded_images['+file.rid+']', file.file)
	      	})
      	}

      	if (Array.isArray(this.product.deleted_images)) {
	      	_.forEach(this.product.deleted_images, (id, index) => {
	      		formData.append('deleted_images['+index+']', id)
	      	})
      	}

      	if (Array.isArray(this.product.variants)) {
	      	_.forEach(this.product.variants, (variant) => {
		      	if (variant.id) {
		      		formData.append('variants['+variant.rid+'][id]', variant.id)
		      	}

		      	formData.append('variants['+variant.rid+'][price]', variant.price || '')
		      	formData.append('variants['+variant.rid+'][quantity]', variant.quantity || '')
		      	this.variantAttributes.forEach((attribute) => {
		      		formData.append('variants['+variant.rid+']['+attribute.name+']', variant[attribute.name] || '')
		      	})
	      	})
      	}

      	return formData
      },
      showImageHr() {
      	return  Array.isArray(this.product.images) && 
      		this.product.images.length > 0 && 
      		_.isObject(this.product.uploaded_images) && 
      		_.size(this.product.uploaded_images) > 0
      }
    },
    watch: {
    	'$route.params.content_locale': function() {
    		this.$emit('refresh')
    	},
    	'product.category_id': function(categoryId) {
        if (categoryId) {
          this.$store.dispatch('products/fetchAttributes', {
            categoryId: categoryId,
            query: this.$route.query
          })      
        }
    	}
    },
		methods: {
      async save(productFormData) {
        let data = await this.handleErrors(
          () => this.handlePending(
            async () => this.action(productFormData)
          )
        )

        this.$bvToast.toast(data.message, {
          title: 'Sukces',
          autoHideDelay: 1000,
          variant: 'success'
        })
      },
    }
	}
</script>