<template>
	<div>
    <b-row class="mb-3">
      <b-col lg="6">
        <b-button 
          :to="routeLocale({
            name: 'products-create'
          })"><i class="fas fa-plus"></i> {{lang.get('messages.create')}}</b-button>
      </b-col>
      <b-col lg="6">
        <form @submit.prevent="search({phrase})">
          <b-input-group>
            <b-input-group-prepend>
              <locales-dropdown/>
            </b-input-group-prepend>
            <b-form-input
              :placeholder="lang.get('messages.search')"
              v-model="phrase"></b-form-input>
            <b-input-group-append>
              <b-button 
                variant="secondary"
                type="submit">
                <i class="fas fa-search"></i>
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </form>        
      </b-col>
    </b-row>
    <pagination-wrapper
      :per-page="products.per_page"
      :total="products.total">
      <b-table 
        :fields="fields"
        striped 
        hover 
        :items="products.data">
        <template #cell(image)="row"> 
          <template 
            v-if="row.item.image">
            <b-img 
              style="max-width: 100px; max-height: 70px;"
              thumbnail 
              fluid 
              :src="row.item.image.image_url"></b-img>            
          </template>
        </template> 
        <template #cell(actions)="row">           
          <b-button
            v-b-tooltip.hover 
            :title="lang.get('messages.edit')"
            :to="routeLocale({
              name: 'products-edit',
              params: {
                id: row.item.id
              },
            })"
            type="button"
            class="btn-dd-edit"
            variant="primary">
            <i class="fas fa-edit"></i>
          </b-button>  
          <destroy-button
            :action="() => api.products.destroy(row.item.id)"
            @success="() => $store.dispatch('products/fetchAll', $route.query)"></destroy-button>
        </template>    
      </b-table>
    </pagination-wrapper>
	</div>
</template>
<script>
  import store from '@/admin/store/index'

  const before = async (to, from, next) => {  
    await store.dispatch('products/fetchAll', to.query)

    next()
  }

	export default {
    data() {
      return {
        phrase: null
      }
    },
    computed: {
      products() {
        return this.$store.getters['products/products']
      },
      fields() {
        return [
          {
            key: 'id',
            label: 'ID',
          },
          {
            key: 'name',
            label: this.lang.get('messages.name'),
          },
          {
            key: 'image',
            label: this.lang.get('messages.image'),
          },
          {
            key: 'actions',
            label: this.lang.get('messages.actions'),
            thStyle: {
              width: '200px'
            },
            tdClass: ['text-center'],
            thClass: ['text-center'],
          }
        ]
      }
    },
    methods: {
      search({phrase}) {
        this.$router.push({
          name: 'products',
          query: {
            phrase
          }
        })
      }
    },
    beforeRouteEnter: before,
    beforeRouteUpdate: before
	}
</script>