@import './../app';

.layout {
	min-height: 100vh;
}

main {
	flex: 1;
    display: flex;
    flex-direction: column;
    // background-image: linear-gradient(to right, #f8f9fa, #f8f9fa 50%, #fff 50%, #fff);

    .container-fluid {
        flex: 1;
        display: flex;
        position: relative;

        .row {
            flex: 1;
        }
    }
}

.no-radius {
    border-radius: 0px!important;
}

.selected-color {
    height: 24px;
    width: 24px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    border-radius: 4px;
}

.vue-treeselect__control {
    height: calc(1.5em + .75rem + 2px);
    // display: block;
    border-collapse: separate;
}

.vue-treeselect__menu {
    border-collapse: separate;
}

.vue-treeselect__multi-value-item {
    font-size: 10px;
}

.vue-treeselect__multi-value-item-container {
    padding-top: 3px;
}

.vue-treeselect--has-value .vue-treeselect__multi-value {
    margin-bottom: 3px;
}

.accordion > .card {
    overflow: visible;
}

.dropzone {
    width: 100%;
    height: 100px;
    border: 5px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dropzone input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

.dropzone.drag-over {
    background: rgba(0, 0, 0, 0.03);
    -webkit-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    -moz-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    -ms-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    -o-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.preview-card-header {
    height: 140px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu.dropright > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: calc(-1px - 0.5rem);
}

.dropdown-submenu.dropleft > .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: calc(-1px - 0.5rem);
}

.dropright .dropdown-toggle::after,
.dropleft .dropdown-toggle::before  {
    content: none;
}
.dropright > .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
}

.dropleft > .dropdown-toggle::before {
    display: inline-block;
    margin-right: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0.3em solid;
    border-bottom: 0.3em solid transparent;
}

.dropright > .dropdown-toggle::after,
.dropleft > .dropdown-toggle::before  {
    vertical-align: 0;
}

.categories-dropdown .dropdown-menu {
    width: 200px;
}
