<template>
	<b-card no-body>
		<b-row class="m-0">
			<b-col
				lg="11"
				class="p-0">
				<b-card-body>
					<b-row>
						<b-col md="3">
						  <b-form-group
						    :label="lang.get('messages.price')"
						    :label-for="getId('price')"
						    :invalid-feedback="getError(getErrorKey('price'))"
						    :state="getErrorState(getErrorKey('price'))"
						  >
						    <b-form-input 
						      :id="getId('price')"
						      :state="getErrorState(getErrorKey('price'))"
						      v-model="variant.price"></b-form-input>
						  </b-form-group>
						</b-col>
						<b-col md="3">
						  <b-form-group
						    :label="lang.get('messages.quantity')"
						    :label-for="getId('quantity')"
						    :invalid-feedback="getError(getErrorKey('quantity'))"
						    :state="getErrorState(getErrorKey('quantity'))"
						  >
						    <b-form-input 
						      :id="getId('quantity')"
						      :state="getErrorState(getErrorKey('quantity'))"
						      v-model="variant.quantity"></b-form-input>
						  </b-form-group>		
						</b-col>
						<b-col 
							v-for="(attribute, index) in attributes"
							:key="index" 
							md="3">
						  <b-form-group
						  	v-if="attribute.component"
						    :label="attribute.label"
						    :label-for="getId(attribute.name)"
						    :invalid-feedback="getError(getErrorKey(attribute.name))"
						    :state="getErrorState(getErrorKey(attribute.name))"
						  >        
						  	<component
						  		:id="getId(attribute.name)"
						  		:is="attribute.component"
					      	:state="getErrorState(getErrorKey(attribute.name))"
					      	:attribute="attribute"
					      	:value="variant[attribute.name]"
					      	@input="$set(variant, attribute.name, $event)"></component>
						  </b-form-group>
						</b-col>
					</b-row>
				</b-card-body>
			</b-col>
			<b-col 
				lg="1"
				class="bg-light">
				<div class="h-100 d-flex align-items-center justify-content-center">
					<b-button 
			    	@click="$emit('destroy')"
			    	variant="danger"
			    	size="sm">
						<i class="fas fa-trash-alt"></i>
			    </b-button>
				</div>
			</b-col>
		</b-row>
	</b-card>
</template>
<script>
  import ColorField from './../_attributes/ColorField'
  import SelectField from './../_attributes/SelectField'
  import SwitcherField from './../_attributes/SwitcherField'
  import TextField from './../_attributes/TextField'

	export default {
		components: {
			ColorField,
			SelectField,
			SwitcherField,
			TextField,
		},
		props: ['variant', 'attributes'],
		inject: ['getError', 'getErrorState'],
    methods: {
    	getId(attribute) {
    		return this.variant.rid + '-' + attribute
    	},
    	getErrorKey(attribute) {
    		return 'variants.' + this.variant.rid + '.' + attribute
    	}
    }
	}
</script>