@import './../app';


#startLoader {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}

.product-card {
    overflow: hidden;

    &:hover .binding-products {
        bottom: 0px;
    }

    .card-footer {
        background: #f8f9fa;
    }
}

.product-desc {
    position: relative;
    z-index: 1;
    background: #fff;
}

.binding-products {
    position: absolute;
    background: #fff;
    transition: bottom 0.3s;
    bottom: -165px;
    padding-bottom: 0px;
}

.over {
    z-index: 1;
    position: relative;
}
.under {
    z-index: 0;
    position: relative;
}

.attributes-row {
    margin-right: -5px;
    margin-left: -5px;

    .col {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.attribute-dropdown {
    .dropdown-menu {
        .ps {
            max-height: 300px;
        }

        .color-item {
            height: 24px;
            width: 24px;
            display: inline-block;
            margin-right: 10px;
            border-radius: 4px;
        }

        .custom-control-label {
            display: block;
        }

        .form-control {

        }
    }

    &.number-attribute-dropdown {
        .dropdown-menu {
            width: 250px;
        }
    }
}

.fluid-categories-dropdown {
    position: initial;
}

.fluid-categories-dropdown  .fluid-dropdown-menu {
    width: 100%;
    margin-top: -1px;
    min-height: 150px;
}

.product-card {
    .card-title {
        font-size: 1rem;
    }
}

.btn-wide {
    width: 200px
}