<template>
	<div>
    <b-button 
      @click="edit({})"
      class="mb-3"><i class="fas fa-plus"></i> {{lang.get('messages.create')}}</b-button>
    <b-table 
      :fields="fields"
      striped 
      hover 
      :items="locales">
      <template #cell(actions)="row">           
        <b-button
          v-b-tooltip.hover 
          :title="lang.get('messages.edit')"
          @click="edit(row.item)"
          type="button"
          class="btn-dd-edit"
          variant="primary">
          <i class="fas fa-edit"></i>
        </b-button>  
        <destroy-button
          :action="() => api.locales.destroy(row.item.id)"
          @success="() => $store.dispatch('locales/fetchAll', $route.query)"></destroy-button>
      </template>    
    </b-table>
    <b-modal
      id="localeModal"
      :title="modalLocale.id ? 
        lang.get('messages.item_edit', {item: lang.get('messages.locale')}) :
        lang.get('messages.item_create', {item: lang.get('messages.locale')})"
      ref="modal"
      hide-footer>
      <form 
        @submit.prevent="save(modalLocale)">
        <b-form-group
          label-cols-sm="4"
          label-cols-lg="3"
          content-cols-sm
          content-cols-lg="7"
          :label="lang.get('messages.name')"
          label-for="name"
          label-align="right"
          :invalid-feedback="getError('name')"
          :state="getErrorState('name')"
        >
          <b-form-input 
            id="name"
            :state="getErrorState('name')"
            v-model="modalLocale.name"></b-form-input>
        </b-form-group>
        <b-form-group
          label-cols-sm="4"
          label-cols-lg="3"
          content-cols-sm
          content-cols-lg="7"
          :label="lang.get('messages.code')"
          label-for="code"
          label-align="right"
          :invalid-feedback="getError('code')"
          :state="getErrorState('code')"
        >
          <b-form-input 
            id="code"
            :state="getErrorState('code')"
            v-model="modalLocale.code"></b-form-input>
        </b-form-group>
        <div class="text-right">
          <pending-button 
            :pending="pending"
            type="submit"
            variant="primary"><i class="fas fa-save"></i> {{lang.get('messages.save')}}</pending-button>
        </div>
      </form>
    </b-modal>
	</div>
</template>
<script>
  import store from '@/admin/store/index'
  import FormMixin from '@/mixin/form';

  const before = async (to, from, next) => {  
    await store.dispatch('locales/fetchAll', to.query)

    next()
  }

  export default {
    mixins: [FormMixin],
    data() {
      return {
        modalLocale: {},
        modalKey: 0,
      }
    },
    computed: {
      locales() {
        return this.$store.getters['locales/locales']
      },
      fields() {
        return [
          {
            key: 'name',
            label: this.lang.get('messages.name'),
          },
          {
            key: 'code',
            label: this.lang.get('messages.code'),
          },
          {
            key: 'actions',
            label: this.lang.get('messages.actions'),
          }
        ]
      }
    },
    methods: {
      edit(locale) {
        this.modalLocale = _.clone(locale)
        this.$bvModal.show('localeModal')
        this.resetErrors()
      },
      async save(locale) {
        let data = await this.handleErrors(
          () => this.handlePending(
            async () => {
              let data = locale.id ? 
                await this.api.locales.update(locale.id, locale) :
                await this.api.locales.create(locale)

              await store.dispatch('locales/fetchAll', this.$route.query)

              return data
            }
          )
        )

        this.$bvModal.hide('localeModal')
        this.$bvToast.toast(data.message, {
          title: 'Sukces',
          autoHideDelay: 1000,
          variant: 'success'
        })
      },
    },
    beforeRouteEnter: before,
    beforeRouteUpdate: before
  }
</script>