<template>
	<base-field
	  :text="attribute.label"
	  :dropright="dropright">
	  Bool field		
	</base-field>
</template>
<script>
	import BaseField from './Field'
	export default {
		components: {BaseField},
		props: ['attribute', 'dropright']
	}
</script>