<template>
	<div class="dropdown click-outside attribute-dropdown">
	  <button 
	  	class="btn btn-secondary dropdown-toggle btn-block" 
	  	type="button" 
	  	data-toggle="dropdown">
	  	{{text}}
	  </button>
	  <div 
	  	class="dropdown-menu"
	  	:class="{
	  		'dropdown-menu-right': dropright
	  	}">
	  	<slot/>
	  </div>
	</div>
</template>
<script>
	export default {
		props: ['text', 'dropright'],
		mounted() {
		
		}
	}
</script>