<template>
	<form :action="url" method="GET">
		<div class="grid-p-sm">
		  <b-row>
		  	<b-col lg="8" class="col">
			    <b-form-input
			    	:placeholder="lang.get('messages.search')"
			    	name="phrase"
			    	v-model="model.phrase"></b-form-input>
		  	</b-col>
		  	<b-col lg="3" class="col">	  		
					<b-button 
						variant="outline-primary"
						type="submit"
						:block="true"
					  class="mb-2">
			      <i class="fas fa-search"></i>
			    </b-button>	
		  	</b-col>
		  	<b-col lg="1" class="col">	  		
					<b-button 
						v-b-tooltip.hover 
						:title="lang.get('messages.clear_filters')"
						variant="light"
						type="button"
						:block="true"
					  class="mb-2"
					  @click="resetFilters()">
			     	<i class="fas fa-trash-restore"></i>
			    </b-button>	
		  	</b-col>
		  </b-row>
		  <div class="mb-2">
				<slot 
					:model="model"/>			  	
		  </div>	
	  </div>	
	</form>
</template>
<script>
	export default {
		props: ['url', 'query'],
		data() {
			return {
				model: {
					phrase: this.query
				},
			}
		},
		methods: {
			resetFilters() {
        _.forEach(this.$scopedSlots.default()[0].context.$refs, (component) => {
        	component.resetFilter()
        })
        this.model.phrase = null
			}
		},
		mounted() {

		}
	}
</script>