<template>
	<base-field
	  :text="label"
	  class="number-attribute-dropdown"
	  :dropright="dropright">
	  <div class="px-2 grid-p-sm">
		  <b-row>
		  	<b-col xl="6" class="col">
		  		 <b-form-group
		        :label="lang.get('messages.from')"
		      >
				    <b-form-input 
				    	:name="name+'[from]'"
		      		v-model="model[name]['from']"
				    	type="number"
				    	class="attribute-input"></b-form-input>
		      </b-form-group>
		  	</b-col>
		  	<b-col xl="6" class="col">
		  		 <b-form-group
		        :label="lang.get('messages.to')"
		      >
				    <b-form-input 
				    	:name="name+'[to]'"
		      		v-model="model[name]['to']"
				    	type="number"
				    	class="attribute-input"></b-form-input>
		      </b-form-group>
		  	</b-col>
		  	<b-col></b-col>
		  </b-row>	  	
	  </div>
	</base-field>
</template>
<script>
	import BaseField from './Field'
	export default {
		components: {BaseField},
		props: ['name', 'label', 'query', 'dropright', 'model'],
		methods: {
			resetFilter() {
				this.$set(this.model, this.name, {
					from: null,
					to: null,
				})
			}
		},
		beforeMount() {
			this.$set(this.model, this.name, this.query || {
				from: null,
				to: null,
			})
		}
	}
</script>