<template>
	<base-field
	  :text="label"
	  :dropright="dropright">
	  <perfect-scrollbar>
		  <div
		  	v-for="(option, index) in options"
		  	:key="index"
		  	class="dropdown-item">
		    <b-form-checkbox
		      :name="name+'[]'"
		      v-model="model[name]"
		      :value="option.name"
		    >{{option.name}}
		  	</b-form-checkbox>
		  </div>
		</perfect-scrollbar>
	</base-field>
</template>
<script>
	import BaseField from './Field'
	export default {
		components: {BaseField},
		props: ['name', 'label', 'options', 'query', 'dropright', 'model'],
		methods: {
			resetFilter() {
				this.$set(this.model, this.name, [])
			}
		},
		beforeMount() {
			this.$set(this.model, this.name, this.query || [])
		}
	}
</script>