<template> 
  <div>
    <tree
      :categories="categories"
      :key="treeKey"/>  
    <div class="text-right">
      <pending-button 
        @click="save()"
        :pending="pending"
        type="submit"
        variant="primary"><i class="fas fa-save"></i> {{lang.get('messages.save')}}</pending-button>
    </div>
  </div>
</template>
<script>
  import Tree from './Tree'
  import store from '@/admin/store/index'
  import FormMixin from '@/mixin/form';

  const before = async (to, from, next) => {  
    await store.dispatch('categoriesTree/fetch', to.query)

    next()
  }

	export default {
    mixins: [FormMixin],
    components: {Tree},
    data() {
      return {
        treeKey: 0,
      }
    },
    computed: {
      categories() {
        return this.$store.getters['categoriesTree/categories']
      },
    },
    methods: {
      async save() {
        let tree = $('.dd').nestable('serialize');

        let data = await this.handleErrors(
          () => this.handlePending(
            async () => this.api.categoriesTree.update({tree})
          )
        )

        // await store.dispatch('categoriesTree/fetch', this.$route.query)
        // this.treeKey++

        this.$bvToast.toast(data.message, {
          title: 'Sukces',
          autoHideDelay: 1000,
          variant: 'success'
        })
      },
    },
    beforeRouteEnter: before,
    beforeRouteUpdate: before,
	}
</script>