<template>
  <li 
    class="dd-item" 
    :data-id="item.id">
      <div 
        class="btn-group float-right" 
        role="group">
        <b-button
          :to="routeLocale({
            name: 'categories-edit',
            params: {
              id: item.id
            },
          })"
          type="button"
          class="btn-dd-edit">
          <i class="fas fa-edit"></i>
        </b-button>  
        <destroy-button
          :action="() => api.categories.destroy(item.id)"
          @success="() => $store.dispatch('categoriesTree/fetch', $route.query)"></destroy-button>
      </div>
      <div class="dd-handle">{{ item.name }}</div>
      <ol 
      	v-if="item.children && item.children.length > 0"
      	class="dd-list">
		    	<tree-row
		    		v-for="(category, childIndex) in item.children"
		    		:key="childIndex"
		    		:item="category"
            :index="childIndex"></tree-row>
      </ol>
  </li>
</template>
<script>
	export default {
    name: 'tree-row',
		props: ['item', 'index'],
	}
</script>