<template>
  <div 
    id="nestable"
    class="dd mb-3">
    <ol class="dd-list">
    	<tree-row
    		v-for="(item, index) in categories"
    		:key="item.id"
    		:item="item"
        :index="index"></tree-row>
    </ol>
  </div> 
</template>
<script>  
	import TreeRow from './TreeRow'
	
	export default {
    components: {TreeRow},
		props: ['categories'],
    methods: {
      createNestable() {
        $('.dd').nestable({
          maxDepth: 5,
        })       
      },
    },
    mounted() {
      this.createNestable()
    }
	}
</script>