<template>
  <div>
    <back-button></back-button>
    <locales-dropdown/> 
    <attribute-form
      :attribute="attribute"
      :action="(attribute) => create(attribute)"/>    
  </div>
</template>
<script>
  import AttributeForm from './Form'

  export default {
    components: {AttributeForm},
    data() {
      return {
        attribute: {}
      }
    },
    methods: {
      async create(model) {
        let data = await this.api.attributes.create(model)

        this.$router.push(this.routeLocale({
          name: 'attributes-edit',
          params: {
            id: data.attribute.id
          }
        }))

        return data
      }
    }
  }
</script>