<template>
  <div>
    <back-button></back-button>
    <locales-dropdown/> 
    <attribute-form
      :attribute="attribute"
      :action="(attribute) => save(attribute)"/>
  </div>
</template>
<script>
  import store from '@/admin/store/index'
  import FormMixin from '@/mixin/form';
  import AttributeForm from './Form'

  const before = async (to, from, next) => {  
    await store.dispatch('attributes/fetchOne', {id: to.params.id, query: to.query})

    next()
  }

  export default {
    components: {AttributeForm},
    computed: {
      attribute() {
        return this.$store.getters['attributes/attribute']
      }
    },
    methods: {
      async save(attribute) {
        let data = await this.api.attributes.update(this.$route.params.id, attribute)

        await store.dispatch('attributes/fetchOne', {id: this.$route.params.id, query: this.$route.query})

        return data
      },
    },
    beforeRouteEnter: before,
    beforeRouteUpdate: before,
  }
</script>