<template>
	<form @submit.prevent="save(attribute)">
    <input 
      type="hidden" 
      v-model="attribute.locale = $route.query.locale"/>
    <b-form-group
      label-cols-sm="4"
      label-cols-lg="3"
      content-cols-sm
      content-cols-lg="7"
      :label="lang.get('messages.label')"
      label-for="label"
      label-align="right"
      :invalid-feedback="getError('label')"
      :state="getErrorState('label')"
    >
      <b-form-input 
        id="label"
        :state="getErrorState('label')"
        v-model="attribute.label"></b-form-input>
    </b-form-group>
    <b-form-group
      label-cols-sm="4"
      label-cols-lg="3"
      content-cols-sm
      content-cols-lg="7"
      :label="lang.get('messages.name')"
      label-for="name"
      label-align="right"
      :invalid-feedback="getError('name')"
      :state="getErrorState('name')"
    >
      <b-form-input 
        id="name"
        :state="getErrorState('name')"
        v-model="attribute.name"></b-form-input>
    </b-form-group>
    <b-form-group
      label-cols-sm="4"
      label-cols-lg="3"
      content-cols-sm
      content-cols-lg="7"
      :label="lang.get('messages.type')"
      label-for="type"
      label-align="right"
      :invalid-feedback="getError('type')"
      :state="getErrorState('type')"
    >
      <b-form-select 
        :options="$store.getters['attributesEnum']"
        :state="getErrorState('type')"
        v-model="attribute.type"></b-form-select>
    </b-form-group> 
    <b-form-group
      label-cols-sm="4"
      label-cols-lg="3"
      content-cols-sm
      content-cols-lg="7"
      :label="lang.get('messages.is_variant')"
      label-for="type"
      label-align="right"
      :invalid-feedback="getError('is_variant')"
      :state="getErrorState('is_variant')"
    >
      <div class="h-100 d-flex align-items-center">
        <b-form-checkbox 
          v-model="attribute.is_variant" 
          switch>
        </b-form-checkbox>
      </div>
    </b-form-group>  
    <select-options 
      :key="optionsKey"
      v-if="selectedAttributeType.has_options"
      :type="attribute.type"
      v-model="attribute.options"/>
    <b-row>
      <b-col lg='10'>
        <div class="text-right">
          <pending-button 
            :pending="pending"
            type="submit"
            variant="primary"><i class="fas fa-save"></i> {{lang.get('messages.save')}}</pending-button>
        </div>
      </b-col>
    </b-row>
  </form>
</template>
<script>
  import FormMixin from '@/mixin/form';
  import SelectOptions from './SelectOptions'

	export default {
    mixins: [FormMixin],
    components: {SelectOptions},
		props: ['action', 'attribute'],
    data() {
      return {
        optionsKey: 0
      }
    },
    watch: {
      '$route.params.content_locale': function(locale) {
        this.refreshOptions()
      }, 
    },
    computed: {
      attributesTypes() {
        return this.$store.getters['attributes/attributesTypes']
      },
      selectedAttributeType() {
        return this.attributesTypes[this.attribute.type] || {}
      }
    },
    provide() {
      return {
        selectedAttributeType: () => this.selectedAttributeType
      }
    },
    methods: {  
      async save(attribute) {
        let data = await this.handleErrors(
          () => this.handlePending(
            () => this.action(attribute)
          )
        )

        this.$bvToast.toast(data.message, {
          title: 'Sukces',
          autoHideDelay: 1000,
          variant: 'success'
        })
      },
      refreshOptions() {
        this.optionsKey++
      }
    }, 
	}
</script>