<template>
	<div>
		<b-button 
      :to="routeLocale({name: 'attributes-create'})"
      class="mb-3"><i class="fas fa-plus"></i> {{lang.get('messages.create')}}</b-button>
    <locales-dropdown/> 
    <pagination-wrapper
      :per-page="attributes.per_page"
      :total="attributes.total">
      <b-table 
        :fields="fields"
        striped 
        hover 
        :items="attributes.data">
        <template #cell(actions)="row">           
          <b-button
            v-b-tooltip.hover 
            :title="lang.get('messages.edit')"
            :to="routeLocale({
              name: 'attributes-edit',
              params: {
                id: row.item.id
              },
            })"
            type="button"
            class="btn-dd-edit"
            variant="primary">
            <i class="fas fa-edit"></i>
          </b-button>  
          <destroy-button
            :action="() => api.attributes.destroy(row.item.id)"
            @success="() => $store.dispatch('attributes/fetchAll', $route.query)">    
          </destroy-button>
        </template>    
      </b-table>
    </pagination-wrapper>
	</div>
</template>
<script>
  import store from '@/admin/store/index'

  const before = async (to, from, next) => {  
    await store.dispatch('attributes/fetchAll', to.query)

    next()
  }

  export default {
    computed: {
      fields() {
        return [
          {
            key: 'id',
            label: 'ID',
          },
          {
            key: 'label',
            label: this.lang.get('messages.label'),
          },
          {
            key: 'name',
            label: this.lang.get('messages.name'),
          },
          {
            key: 'enum_type.description',
            label: this.lang.get('messages.type'),
          },
          {
            key: 'actions',
            label: this.lang.get('messages.actions'),
          }
        ]
      },
      attributes() {
        return this.$store.getters['attributes/attributes']
      },
    },
    methods: {
    },
    beforeRouteEnter: before,
    beforeRouteUpdate: before
  }
</script>