<template>
	<div>
		<h5 class="mb-3">{{lang.get('messages.options')}}</h5>
		<b-button 
			@click="add()"
      class="mb-3"><i class="fas fa-plus"></i></b-button>
    <b-form-group
    	v-for="(option, index) in options"
    	:key="option.rid"
      label-cols-sm="4"
      label-cols-lg="3"
      content-cols-sm
      content-cols-lg="7"
      :label="lang.get('messages.option')"
      :label-for="option.rid"
      label-align="right"
      :invalid-feedback="
      	getError('options.'+option.rid+'.name') || 
	      getError('options.'+option.rid+'.additional.color')
	    "
      :state="
      	getErrorState('options.'+option.rid+'.name') || 
	      getErrorState('options.'+option.rid+'.additional.color')
	    "
    >
      <b-input-group size="md">
	      <b-form-input 
	        :id="option.rid"
	        :state="
	        	getErrorState('options.'+option.rid+'.name')
	        "
	        v-model="option.name"></b-form-input>
			    <b-input-group-append>
			    	<v-swatches 
			    		v-if="selectedAttributeType().has_color_options"
			    		v-model="option.additional.color" 
			    		popover-x="left"
			    		swatches="text-advanced">
			    		<template #trigger>
					      <b-button 
					      	:variant="getErrorState('options.'+option.rid+'.additional.color') === false ? 
					      		'outline-danger' : 'outline-secondary'"
					      	class="no-radius"
					      	:style="{
					      		'border-color': option.additional.color,
					      		width: '142px',
					      	}">
					      		<span 
					      			v-if="option.additional.color"
					      			class="selected-color"
							      	:style="{
							      		'background': option.additional.color,
							      	}"></span>{{lang.get('messages.select_color')}}</b-button>
			    		</template>
			    	</v-swatches>
			      <b-button 
			      	@click="options.splice(index, 1)"
			      	variant="outline-danger"><i class="fas fa-trash-alt"></i></b-button>
			    </b-input-group-append>
			  </b-input-group>
    </b-form-group>
	</div>
</template>
<script>
  import FormMixin from '@/mixin/form';
  import {Swatches, Sketch} from 'vue-color'
  import VSwatches from 'vue-swatches'

	export default {
    components: {
    	SwatchesPicker: Swatches, 
    	SketchPicker: Sketch,
    	VSwatches 
    },
		props: ['value', 'type'],
		inject: ['getError', 'getErrorState', 'selectedAttributeType'],
		data() {
			return {
				options: Array.isArray(this.value) ? this.value : []
			}
		},
		watch: {
			options(options) {
				this.$emit('input', this.keyedOptions)
			},
		},
		computed: {
			colors() {
				return { r: 255, g: 0, b: 0 }
			},
			keyedOptions() {
				return _.keyBy(this.options, 'rid')
			}
		},
		methods: {
			add() {
				this.options.unshift({
					value: null,
					rid: this.$uniqid(),
					additional: {}
				})
			}
		},
		mounted() {
			this.$emit('input', this.keyedOptions)
		}
	}
</script>