<template>
	<guest-layout>
		<b-container class="py-5">
			<b-row>
				<b-col 
					lg="4" 
					offset-lg="4">
					<b-card
						:header="$route.meta.title">
						<slot/>
					</b-card>
				</b-col>
			</b-row>
		</b-container>
	</guest-layout>
</template>
<script>
	export default {

	}
</script>