<template>
	<div class="d-flex flex-column layout">
		<div>  
		  <b-navbar toggleable="lg" type="dark" variant="info">
		    <b-navbar-brand :to="{
		    	name: 'panel'
		    }">{{$store.getters['appName']}}</b-navbar-brand>

		    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

		    <b-collapse id="nav-collapse" is-nav>
		      <!-- Right aligned nav items -->
		      <template
		      	v-if="user">
      			<b-navbar-nav class="ml-auto">	
		      	</b-navbar-nav>
			      <b-navbar-nav >
		      		<b-nav-item-dropdown :text="lang.get('messages.lang')" right>
			          <b-dropdown-item 
			          	v-for="(locale, index) in locales"
			          	:key="index"
			          	:to="routeLocale({
				          	name: $route.name,
				          	params: {
				          		...$route.params,
				          		locale: locale
				          	}
				          })">{{locale.toUpperCase()}}</b-dropdown-item>
			        </b-nav-item-dropdown>	
			        <b-nav-item-dropdown right>
			          <!-- Using 'button-content' slot -->
			          <template #button-content>
			            <em>{{user.email}}</em>
			          </template>
			          <b-dropdown-item @click.prevent="logout()">Wyloguj</b-dropdown-item>
			        </b-nav-item-dropdown>
			      </b-navbar-nav>
		      </template>
		    </b-collapse>
		  </b-navbar>
		</div>
		<main>
			<b-container fluid>
				<b-row>
					<b-col	
						class="bg-light"
						lg="3"
						md="4">
						<sidebar-nav/>
					</b-col>
					<b-col
						lg="9"
						md="8">
						<div class="py-5">
							<h3 class="mb-3">{{title}}</h3>
							<slot></slot>							
						</div>
					</b-col>
				</b-row>  
			</b-container>  			
		</main>
		<page-footer/>
	</div>
</template>
<script>
	import SidebarNav from './panel/SidebarNav'

	export default {
		components: {SidebarNav},
		data() {
			let user = this.$store.getters['auth/user']
			
			return {
				premium: user ? user.is_premium : false,
				importFlashCards: false,
			}
		},
		computed: {
			user() {
				return this.$store.getters['auth/user']
			},
			title() {
				return this.$route.meta.title ? this.$route.meta.title(this.$store.state.lang) : undefined
			},
			locales() {
				return ['pl', 'en']
			}
		},
		watch: {
			premium(premium) {
				if (premium) {
					this.$bvModal.show('premiumModal')
				}
			}
		},
		methods: {
			async logout() {
				await this.$store.dispatch('auth/logout')

				this.$router.push({
					name: 'login',
				})
			}
		}
	}
</script>