<template>
	<div class="d-flex flex-column layout">
	  <b-navbar toggleable="lg" type="light" variant="light">
	    <b-navbar-brand href="/">{{$store.getters['appName']}}</b-navbar-brand>

	    <b-navbar-toggle target="navCollapse"></b-navbar-toggle>

	    <b-collapse id="navCollapse" is-nav>
	      <b-navbar-nav class="ml-auto">
      	</b-navbar-nav>
	    </b-collapse>
	  </b-navbar>
	  <b-navbar toggleable="lg" type="dark" variant="info">
	    <b-navbar-toggle target="menuItemsNavCollapse"></b-navbar-toggle>
	    <b-collapse id="menuItemsNavCollapse" is-nav>
				<slot name="menu-items"/>
	    </b-collapse>
	  </b-navbar>
	  <main>
	  	<b-container class="bg-white" fluid>
				<b-row>
					<b-col	
						v-if="$slots.sidebar"
						class="bg-light"
						lg="3"
						md="4">
						<slot name="sidebar"/>
					</b-col>
					<b-col
						:lg="$slots.sidebar ? 9 : 12"
						:md="$slots.sidebar ? 8 : 12">
						<div class="py-3">
							<slot></slot>
						</div>
					</b-col>
				</b-row>  	
			</b-container>
	  </main>
	  <footer>
			<page-footer/>
	  </footer>
	</div>
</template>
<script>
	export default {
	}
</script>