<template>
	<div class="d-flex flex-column layout">
	  <b-navbar toggleable="lg" type="dark" variant="info">
	    <b-navbar-brand :to="{
	    	name: 'start'
	    }">{{$store.getters['appName']}}</b-navbar-brand>

	    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

	    <b-collapse id="nav-collapse" is-nav>
	      <b-navbar-nav class="ml-auto">
      		<b-nav-item :to="{
      			name: 'login'
      		}">Zaloguj się</b-nav-item>
      	</b-navbar-nav>
	    </b-collapse>
	  </b-navbar>
	  <div style="flex:1"> 
			<slot/>
	  </div>
		<page-footer/>
	</div>
</template>
<script>
	export default {

	}
</script>